.main-header {
  background-image: url("src/img/about-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center bottom 15%;
  background-size: cover;
  height: 40vh;
  position: relative;
  z-index: -1;
}
