<div class="participants-count">
  <div class="max" *ngIf="count.max !== null">
    <i *ngFor="let item of [].constructor(count.max)"></i>
  </div>
  <div class="current" *ngIf="count.current !== null">
    <i *ngFor="let item of [].constructor(count.current)"></i>
  </div>
  <div *ngIf="this.authService.UserId" class="users">
    <button
      *ngFor="let user of joined"
      title="{{ user?.personal.firstName || user?.personal.name }}"
      (click)="onSelect(user)"
      [ngStyle]="
        user?.personal.photoUrl.length && {
          'background-image': 'url(' + user?.personal.photoUrl + ')'
        }
      "
    ></button>
  </div>
</div>
