@import "../../sass/variables";

.participants-count {
  position: relative;
  text-align: left;
  display: inline-block;

  .current,
  .users {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../../assets/icons/meeple-blue.svg") no-repeat
      center/contain;

    & + i {
      margin-left: 3px;
    }
  }

  .current i {
    background-image: url("../../assets/icons/meeple-orange.svg");
  }

  .users {
    display: flex;
    justify-content: flex-start;

    button {
      border: $color-orange solid 1px;
      border-radius: 50%;
      padding: 0;
      background: #fff url("../../assets/icons/meeple-orange.svg") no-repeat
        center/cover;
      outline: none;
      font-size: 0;
      line-height: 0;
      width: 30px;
      height: 30px;
      margin: -2px 4px -5px -4px;
    }

    i.filled {
      color: red;
    }
  }
}
