<header class="navbar" [ngClass]="{'navbar-fixed': isFixedNavbar}">
  <div class="container" fxLayout="row wrap" fxLayoutAlign="start center">

    <div class="navbar-mobile-top" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
      <div class="navbar-logo">
        <a routerLink="/">MUG</a>
      </div>
      <button mat-icon-button class="navbar-toggle nav-color" (click)="toggleNavbar()">
        <mat-icon>{{!navbarOpened ? 'menu': 'close'}}</mat-icon>
      </button>
    </div>

    <div fxFlex class="top-navbar">
      <span fxFlex></span>
      <a mat-button class="navbartop-btn" routerLink="/home" routerLinkActive="active"><strong>home</strong></a>
      <a mat-button class="navbartop-btn" routerLink="/events" routerLinkActive="active"><strong>Events</strong></a>
      <a mat-button class="navbartop-btn" routerLink="/games" routerLinkActive="active"><strong>Games</strong></a>
      <a mat-button class="navbartop-btn" mdbWavesEffect routerLink="/news"
        routerLinkActive="active"><strong>News</strong></a>

      <a mat-button class="navbartop-btn" pageScroll [routerLink]="['home']" href="#contacts-elem"><strong>
          Contacts</strong></a>
    </div>
    <div fxFlex class="top-navbar">
      <ul class="navbar-nav ml-auto pr-5">
        <!--  <a>     routerLinkActive="active" routerLink="/sign-in"
          -->
        <li class="nav-item">
          <a *ngIf="!this.authService.isLoggedIn" (click)="openDialog()" class="nav-link waves-light" mdbWavesEffect>
            LogIn
          </a>
        </li>
        <!-- Dropdown if not loged-->

        <li *ngIf="this.authService.isLoggedIn" class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0 pr-3"
              alt="avatar image" height="40" />
            Profile<span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a routerLinkActive="active" routerLink="useraccount" class="dropdown-item waves-light" mdbWavesEffect>My
              account</a>
            <div class="divider dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect>Log out</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</header>
