@import "./../../../sass/variables";

li {
  padding: 0 0.5vw;
  letter-spacing: 0.15rem;
}

a:hover {
  opacity: 0.9;
  color: $color-orange !important;
}

mdb-navbar {
  z-index: 900 !important;

  .navbar-brand {
    font-family: 'Kelly Slab', cursive;
  }
}

.navbar-brand {
  opacity: 0.7;
}

li>a:focus {
  border-bottom: 2px solid $color-orange;
  border-top: 2px solid $color-orange;
}

.dropdown-item.active {
  font-weight: 300;
  background-color: #23a2ed;
  color: white;
}



.navbar {
  background: #23a2ed !important;
}
