<!--Navbar-->

<mdb-navbar id="navMenu" SideClass="navbar navbar-expand-md navbar-dark unique-color" [containerInside]="false"
  mdbStickyHeader>

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="pl-5 navbar-brand font-weight-bold" routerLink="/home" routerLinkActive="active">MUG</a>
  </mdb-navbar-brand>
  <!-- Collapsible content -->

  <links>
    <div class="container">
      <!-- Links -->
      <ul class=" navbar-nav m-auto h4-responsive">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/events"
            routerLinkActive="active">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/games"
            routerLinkActive="active">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/news"
            routerLinkActive="active">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/about"
            routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a (click)="Scrolldown()" class="nav-link waves-light nav-link-lt" mdbWavesEffect pageScroll
            [routerLink]="['home']" href="#contacts-elem">Contacts</a>
        </li>
      </ul>
    </div>
    <!-- Links -->

    <ul class="navbar-nav ml-auto pr-5">

      <!--  <a>    *ngIf="!this.authService.isLoggedIn" routerLinkActive="active" routerLink="/sign-in"
        -->
      <li class="nav-item">
        <a (click)="openDialog()" class="nav-link waves-light" mdbWavesEffect>
          LogIn
        </a>
      </li>
      <!-- Dropdown if not loged-->

      <li *ngIf="this.authService.isLoggedIn" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0 pr-3"
            alt="avatar image" height="40" /> Profile<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">

          <a routerLinkActive="active" routerLink="useraccount/:id" class="dropdown-item waves-light" mdbWavesEffect>My
            account</a>
          <div class="divider dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item waves-light" mdbWavesEffect>Log
            out</a>
        </div>

      </li>

    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
