html,
body,
header,
.view {
  height: 100%;
}

.btn {
  border-radius: 50px;
}


.bg {
  background-image: url("src/img/bg_x.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
