<!-- <div class="bg-x2 "> -->

<div class="bg">

  <div class="bg-cover">
    <div>
      <div class="main-mug">
        <h1> M</h1>
        <p>EET</p>
      </div>
      <div class="main-mug">
        <h2>U</h2>
        <p>p</p>
      </div>
      <div class="main-mug">
        <h3>and</h3>
      </div>
      <div class="main-mug">
        <h1>G</h1>
        <p>ames</p>
      </div>

    </div>
    <!-- <div class="section-button text-center  px-md-5 mx-md-5">
      <button (click)="Scrolldown()" type="button" class="btn btn-lg btn-outline-white" pageScroll href="#how-it-works">
        findout More
      </button>
    </div> -->
  </div>
</div>
