<div class="body">
  <section>
    <div class="mug-heading content">
      <div class="text">
        <h1 data-text="eet"> Meet </h1>
        <h2 data-text="P's"> UP's</h2>
        <h4 data-text="and">and</h4>
        <h3 data-text="ames">Games</h3>
        <button (click)="Scrolldown()" type="button" class="btn btn-change" pageScroll href="#how-it-works">
          Findout More
        </button>
      </div>
    </div>

    <div class="imageBox">
      <div class="imageBox1"></div>
      <div class="imageBox2">
      </div>
    </div>
  </section>

</div>
