@import "../../../sass/variables";

.body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $color-orange; // background-color: hsl(271, 19%, 31%);
}


section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85vh;
  width: 93vw;
  background: #262626;
  display: flex;
}

.content {
  width: 50%;
  // height: 100%;
  min-height: 100vh; // -- tutu otstup vniz
  background-color: black;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5);
  box-sizing: border-box;
  border: 0px solid white;
}

.imageBox {
  position: relative;
  width: 50%;
  min-height: 100vh;
  background-color: $color-orange;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .5); // height: 100%;
  box-sizing: border-box;
  border: 0px solid white;
  overflow: hidden;
}

.imageBox1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("src/assets/img/home_page_img/hero2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s;
  opacity: 0;

  -webkit-animation: scale 15s linear infinite;

}



@-webkit-keyframes scale {
  100% {
    transform: scaleX(1.5) scaleY(1.5);
  }
}


.imageBox2 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-image: url("src/assets/img/home_page_img/hero3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s;
  opacity: 1;
}

.mug-heading {
  position: relative;
  color: $color-orange;
  background-image: linear-gradient(to left,
      transparent,
      transparent 50%,
      white 50%,
      white);
  background-position: -100% 0;
  background-size: 200% 100%;
  transition: all .35s ease-in;
}

.mug-heading:hover {
  background-position: 0 0;
  color: black;

  .btn-change {
    color: $color-orange;
    border: solid 3px$color-orange;
    background: transparent;
  }

  &+.imageBox .imageBox1 {
    opacity: 1;
  }

  &+.imageBox .imageBox2 {
    opacity: 0;
  }

  h1:hover:before {
    width: 100%;
  }

  h2:hover:before {
    width: 100%;
  }

  h4:hover:before {
    width: 100%;
  }

  h3:hover:before {
    width: 100%;
  }

  h1::first-letter {
    color: $color-orange;
  }

  h2::first-letter {
    color: $color-orange;
  }

  h3::first-letter {
    color: $color-orange;
  }
}

header {
  display: none;
}

h1::first-letter {
  color: white;
}

h2::first-letter {
  color: white;
}

h3::first-letter {
  color: white;
}

.text {
  position: relative;
  margin: 60px auto;
  padding: 20px;
  height: 100%;

}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin-left: 1vw;
  position: absolute;
  font-size: 10em;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 4px;
}

h1 {
  top: 10%;
  left: 35%;
  transform: translate(-50%, -50%);
}


h1:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 38%;
  color: $color-main-blue;
  width: 0;
  overflow: hidden;
  transition: 2s;
}

h2 {
  top: 25%;
  left: 36%;
  transform: translate(-50%, -50%);
}

h2:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 33%;
  color: $color-main-blue;
  width: 0;
  overflow: hidden;
  transition: 2s;
}

h4 {
  top: 37%;
  left: 45%;
  transform: translate(-50%, -50%);
}

h4:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  color: $color-main-blue;
  width: 0;
  overflow: hidden;
  transition: 2s;

}

h3 {
  top: 49%;
  left: 47%;
  transform: translate(-50%, -50%);
}

h3:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 21.5%;
  color: $color-main-blue;
  width: 0;
  overflow: hidden;
  transition: 2s;
}

.btn-change {
  border-radius: 5px;
  border: solid 3px white;
  letter-spacing: 5px;
  background: transparent;
  color: white;
  padding: 15px 55px;
  font-size: 25px;
}

button {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//   h1:before {
//     content: attr(data-text);
//     position: absolute;
//     top: 0;
//     left: 0;
//     color: white;
//     width: 50%;
//     overflow: hidden;
//     transition: 1s;
//   }

//   h1:hover::before {
//     width: 100%
//   }
// }
// -------------------------------------------
// ----------------------------------------------
@media(max-width:1026px) {}

@media screen and (max-width: 1027px) {

  .imageBox {
    display: none;
  }

  .text {
    margin: 0;

  }

  .mug-heading {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    color: $color-orange;
    width: 100%;
    background-image: linear-gradient(to left,
        transparent,
        transparent 50%,
        white 50%,
        white);
    background-position: -100% 0;
    background-size: 200% 100%;
    transition: all .35s ease-in;
  }

  .mug-heading:hover {
    background-position: 0 0;
    color: black;

    .btn-change {
      color: $color-orange;
      border: solid 3px$color-orange;
      background: transparent;
    }

    h1:hover:before {
      width: 100%;
    }

    h2:hover:before {
      width: 100%;
    }

    h4:hover:before {
      width: 100%;
    }

    h3:hover:before {
      width: 100%;
    }

    h1::first-letter {
      color: $color-orange;
    }

    h2::first-letter {
      color: $color-orange;
    }

    h3::first-letter {
      color: $color-orange;
    }
  }

  header {
    display: none;
  }

  h1::first-letter {
    color: white;
  }

  h2::first-letter {
    color: white;
  }

  h3::first-letter {
    color: white;
  }

  h1,
  h2,
  h3,
  h4 {
    padding: 0;
    margin: 0;
    position: absolute;
    font-size: 12em;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 4px;
  }

  h1 {
    top: 16%;
    left: 44%;
    transform: translate(-50%, -50%);
  }


  h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 38%;
    color: $color-main-blue;
    width: 0;
    overflow: hidden;
    transition: 2s;
  }

  h2 {
    top: 33%;
    left: 45%;
    transform: translate(-50%, -50%);
  }

  h2:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 33%;
    color: $color-main-blue;
    width: 0;
    overflow: hidden;
    transition: 2s;
  }

  h4 {
    top: 46%;
    left: 57%;
    transform: translate(-50%, -50%);
  }

  h4:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: $color-main-blue;
    width: 0;
    overflow: hidden;
    transition: 2s;

  }

  h3 {
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h3:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 21.5%;
    color: $color-main-blue;
    width: 0;
    overflow: hidden;
    transition: 2s;
  }

  .btn-change {
    border-radius: 5px;
    border: solid 3px white;
    letter-spacing: 5px;
    background: transparent;
    color: white;
    padding: 15px 55px;
    font-size: 25px;
  }

  button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //   h1:before {
  //     content: attr(data-text);
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     color: white;
  //     width: 50%;
  //     overflow: hidden;
  //     transition: 1s;
  //   }

  //   h1:hover::before {
  //     width: 100%
  //   }
  // }
}
