<div class="container-fluid">
  <section class="text-center">
    <!-- Section heading -->
    <h2 class="blue-grey-text font-weight-bold mb-4 pb-2 text-uppercase">
      NEAREST EVENTS
    </h2>
    <p lass="blue-grey-text">
      Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Facilis culpa quidem animi minus recusandae esse
      possimus doloribus consectetur excepturi. Rerum?
    </p>

    <mdb-carousel
      [isControls]="false"
      class="carousel-multi-item multi-animation"
      [type]="'carousel-multi-item'"
      [animation]="'slide'"
      [ngSwitch]="carouselDisplayMode"
    >
      <ng-container *ngSwitchCase="1">
        <mdb-carousel-item *ngFor="let event of slides1; let i = index">
          <div class="row w-100 mx-auto">
            <div class="col-12">
              <app-event-item [event]="event"></app-event-item>
            </div>
          </div>
        </mdb-carousel-item>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <mdb-carousel-item *ngFor="let slide of slides2; let i = index">
          <div class="row w-100 mx-auto">
            <div class="col-6" *ngFor="let event of slide">
              <app-event-item [event]="event"></app-event-item>
            </div>
          </div>
        </mdb-carousel-item>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <mdb-carousel-item *ngFor="let slide of slides3; let i = index">
          <div class="row w-100 mx-auto">
            <div class="col-4" *ngFor="let event of slide">
              <app-event-item [event]="event"></app-event-item>
            </div>
          </div>
        </mdb-carousel-item>
      </ng-container>
    </mdb-carousel>
  </section>
</div>
