<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color scrolling-navbar " mdbStickyHeader>

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/home" routerLinkActive="active">MUG</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links class="links">
    <!-- Links -->
    <ul class="navbar-nav mr-auto h4-responsive">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/events" routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/games" routerLinkActive="active">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/news" routerLinkActive="active">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/contacts" routerLinkActive="active">Contacts</a>
      </li>
    </ul> <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- social actyviy if needed -->
      <!-- <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <mdb-icon fab icon="google-plus"></mdb-icon>
        </a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item" href="#">Log In</a>
              <a class="dropdown-item" href="#">Sign Up</a>

              <!-- for logged in users -->
              <!-- <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Profile</a> -->

            </div>
          </div>
        </a>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
