<!--Navbar-->

<mdb-navbar SideClass="navbar navbar-expand-lg stylish-color-dark scrolling-navbar" mdbStickyHeader>
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="deep-orange-text navbar-brand font-weight-bold" routerLink="/home"
      routerLinkActive="active">MUG</a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links class="links">
    <!-- Links -->
    <ul class=" navbar-nav m-auto h4-responsive">
      <li class="nav-item">
        <a class="text-warning nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/home"
          routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="text-warning nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/events"
          routerLinkActive="active">Events</a>
      </li>
      <li class="nav-item">
        <a class="text-warning nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/games"
          routerLinkActive="active">Games</a>
      </li>
      <li class="nav-item">
        <a class="text-warning nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/news"
          routerLinkActive="active">News</a>
      </li>
      <li class="nav-item">
        <a class="text-warning nav-link waves-light nav-link-lt" mdbWavesEffect routerLink="/about"
          routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="text-warning nav-link waves-light nav-link-lt" mdbWavesEffect pageScroll [routerLink]="['home']"
          href="#contacts-elem">Contacts</a>
      </li>
    </ul>
    <!-- Links -->
    <button mdbBtn color="success" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect
      *ngIf="!authService.isAutentikated" routerLink="/login" routerLinkActive="active">login</button>

    <button mdbBtn color="success" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect
      *ngIf="authService.isAutentikated" (click)='authService.logout()'>logaut</button>


    <!-- <ul class="navbar-nav ml-auto nav-flex-icons"> -->
    <!-- !!!!!!!!!!!!!!!!!!! user img if user logged in -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" routerLink="/userprofile" routerLinkActive="active">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" height="40" />
        </a>
      </li>
    </ul>
    <!-- user img -->
    <!-- <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group deep-orange-text nav-link-lt" mdbDropdown>
            <mdb-icon fas icon="user" *ngIf="!authService.isAutentikated" routerLink="/login" routerLinkActive="active">
            </mdb-icon>
          </div>
        </a>
      </li>
    </ul> -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
