// *,
// *:before,
// *:after {
//   box-sizing: border-box;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;

// }

.content {
  position: relative;


  .wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse farthest-corner at 50% 50%, #1d0661 0%, #000000 100%)
  }

  .mosaic {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;

    .mosaic-wrap {
      position: absolute;
      z-index: 1;
      width: 70vw;
      height: 70vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      //background: #ffffff08;

      @media (min-width: 1280px) {
        width: 50vw;
        height: 50vh;
      }

      .item {
        position: absolute;
        display: block;
        overflow: hidden;
        top: 50%;
        left: 50%;
        height: 0;
        box-shadow: 10px 10px 34px 2px rgba(0, 0, 0, 0.75);
        cursor: pointer;

        svg {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: transform .5s cubic-bezier(.49, .06, .21, .98);
        }

        &:after {
          content: '';
          position: absolute;
          z-index: 1;
          bottom: -20px;
          left: -20px;
          width: calc(100% + 20px);
          height: calc(100% + 20px);
          background: linear-gradient(to bottom, transparent, #06030e);
          opacity: 1;
          transition: all .5s cubic-bezier(.49, .06, .21, .98);
        }

        &:hover {
          svg {
            transform: scale(1.1);
          }

          &:after {
            opacity: 0;
            transform: scale(1.2);
          }
        }

        &.material-1 {
          z-index: 1;
          width: 35%;
          padding-bottom: 35%;
          transform: translate3d(-140%, -115%, 0);
        }

        &.material-2 {
          z-index: 2;
          width: 60%;
          padding-bottom: 60%;
          transform: translate3d(-50%, -50%, 0);
        }

        &.material-3 {
          z-index: 3;
          width: 25%;
          padding-bottom: 25%;
          transform: translate3d(-160%, -50%, 0);
        }

        &.material-4 {
          z-index: 4;
          width: 30%;
          padding-bottom: 30%;
          transform: translate3d(50%, 24%, 0);
        }

        &.material-5 {
          z-index: 5;
          width: 23%;
          padding-bottom: 23%;
          transform: translate3d(115%, -54%, 0)
        }
      }
    }
  }
}
