// .navbar-brand {
//   padding-right: 3.5vw;
// }

li {
  padding: 0 0.5vw;
  letter-spacing: 0.15rem;
}

.nav-link:hover {
  opacity: 0.65;
}

mdb-navbar {
  background-color: #003049;
  
  a {
    color: #f2efea;
  }

  .navbar-brand {
    font-family: 'Kelly Slab', cursive;
  }
}