$color-main: #003049;
$color-main-blue: #3f729b;
$color-text: #eae2b7;
$color-alert: #d62828;
$color-attention: #ef3054;
$color-orange: #ff6f59;
$color-orange-1: #f77f00;
$font-family-alt: "Kelly Slab",
cursive;

// hot to use it : We need to import the file in order to use it:
// @import "../../../sass/variables"; // this is not cool!
//
// h1 {
//     color: $brand-color;
// }
