.uni {
  background-image: url('src/img/cont-us.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  // background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
  height: 730px;
}
