<div class="bgimage rgba-black-strong text-center">

  <div class="black-opacity" id="contacts-elem">

    <div class="row row-main">

      <div class="col-lg-6 col-md-6 col-xs-12 hide">
        <!-- ------------------------ -->


        <div class="container-news ">

          <div class="row heading-text row-news">
            <div class="col-md-12 ">
              <div class="site-heading text-center news-heading">
                <h2 class="latest"> Latest <span>News</span></h2>
                <div class="hide">

                  <h4 class="hide">Latest boardgames news</h4>

                </div>
              </div>
            </div>
          </div>
          <div class="card-media">
            <!-- media container -->
            <div class="card-media-object-container">
              <div class="card-media-object"
                style="background-image: url(/assets/img/game/arkham-horror/arkham-horror0.jpg);"> </div> <span
                class="card-media-object-tag subtle">Hot News</span>
              <ul class="card-media-object-social-list">
                <li>
                  <img src="https://s10.postimg.cc/3rjjbzcvd/profile_f.jpg" class="">
                </li>
                <li>
                  <img src="https://s16.postimg.cc/b0j0djh79/profile_0_f.jpg" class="">
                </li>
                <li class="card-media-object-social-list-item-additional">
                  <span>+2</span>
                </li>
              </ul>
            </div>
            <!-- body container -->
            <div class="card-media-body">
              <div class="card-media-body-top">
                <span class="subtle">Mon, APR 29, 14:00 PM</span>
                <div class="card-media-body-top-icons u-float-right">
                  <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                  </svg>
                  <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                  </svg>
                </div>
              </div>
              <span class="card-media-body-heading">ARKAMON HORROR <br> Finna Relised. The oldest and strongest...
              </span>
              <div class="card-media-body-supporting-bottom">
                <span class="card-media-body-supporting-bottom-text subtle">Avaliable in shops 15.05.2020</span>
                <span class="card-media-body-supporting-bottom-text subtle u-float-right">Price &ndash; $30</span>
              </div>
              <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                <span class="card-media-body-supporting-bottom-text subtle">#Horror #adventure</span>
                <a href="" mdbWavesEffect routerLink="/news" routerLinkActive="active"
                  class="card-media-body-supporting-bottom-text card-media-link u-float-right">OPEN
                  NEWS</a>
              </div>
            </div>
          </div>

          <div class="card-media">
            <!-- media container -->
            <div class="card-media-object-container">
              <div class="card-media-object"
                style="background-image: url(assets/img/game/brass-birmingham/brass-birmingham.jpg);"></div>
              <ul class="card-media-object-social-list">
                <li>
                  <img src="https://s13.postimg.cc/c5aoiq1w7/stock3_f.jpg" class="">
                </li>
              </ul>
            </div>
            <!-- body container -->
            <div class="card-media-body">
              <div class="card-media-body-top">
                <span class="subtle">Mon, APR 29, 7:00 PM</span>
                <div class="card-media-body-top-icons u-float-right">
                  <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                  </svg>
                  <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                  </svg>
                </div>
              </div>

              <span class="card-media-body-heading">Brass, New updated relese<br> Birmingham tells the story of...

              </span>
              <div class="card-media-body-supporting-bottom">
                <span class="card-media-body-supporting-bottom-text subtle">Already Avaliable</span>
                <span class="card-media-body-supporting-bottom-text subtle u-float-right">Price&ndash; $60</span>
              </div>
              <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                <span class="card-media-body-supporting-bottom-text subtle">#Economics #Stategy</span>
                <a href="" mdbWavesEffect routerLink="/news" routerLinkActive="active"
                  class="card-media-body-supporting-bottom-text card-media-link u-float-right">OPEN
                  NEWS</a>
              </div>
            </div>
          </div>

          <div class="card-media">
            <!-- media container -->
            <div class="card-media-object-container">
              <div class="card-media-object" style="background-image: url(assets/img/game/gloomhaven/gloomhaven0.jpg);">
              </div>
              <ul class="card-media-object-social-list">
                <li>
                  <img src="https://s13.postimg.cc/c5aoiq1w7/stock3_f.jpg" class="">
                </li>
              </ul>
            </div>
            <!-- body container -->
            <div class="card-media-body">
              <div class="card-media-body-top">
                <span class="subtle">Mon, APR 28, 12:00 PM</span>
                <div class="card-media-body-top-icons u-float-right">
                  <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92 1.61 0 2.92-1.31 2.92-2.92s-1.31-2.92-2.92-2.92z" />
                  </svg>
                  <svg fill="#888888" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z" />
                    <path d="M0 0h24v24H0z" fill="none" />
                  </svg>
                </div>
              </div>
              <span class="card-media-body-heading">Review. Gloomhaven <br> is based on the hugely popular physical...
              </span>
              <div class="card-media-body-supporting-bottom">
                <span class="card-media-body-supporting-bottom-text subtle">Already Avaliable</span>
                <span class="card-media-body-supporting-bottom-text subtle u-float-right">Price&ndash; $50</span>
              </div>
              <div class="card-media-body-supporting-bottom card-media-body-supporting-bottom-reveal">
                <span class="card-media-body-supporting-bottom-text subtle">#Strategy #Action</span>
                <a href="" mdbWavesEffect routerLink="/news" routerLinkActive="active"
                  class="card-media-body-supporting-bottom-text card-media-link u-float-right">OPEN NEWS</a>
              </div>
            </div>
          </div>

        </div>
        <!-- ----------------------- -->
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="container-1 text-center">

          <div class="row heading-text">
            <div class="col-md-12">
              <div class="site-heading text-center">
                <h2>contact <span>us</span></h2>
                <div class="hide">
                  <h4>write a message</h4>
                </div>
              </div>
            </div>
          </div>

          <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
            <div class="row100">
              <div class="col1">
                <div class="input-box">
                  <input type="text" formControlName="name" name="name" required="required">
                  <span class="text">Your name</span>
                  <span class="line"></span>
                </div>
              </div>

              <div class="col1">
                <div class="input-box">
                  <input type="email" formControlName="email" name="email" required="required">
                  <span class="email">Email</span>
                  <span class="line1"></span>
                </div>
              </div>
            </div>
            <div class="row100">
              <div class="col1">
                <div class="input-box textarea">
                  <textarea name="message" formControlName="message" required="required"></textarea>
                  <span class="text">Type your message here...</span>
                  <span class="line"></span>
                </div>
              </div>
            </div>
            <div class="row100">
              <div class="col1">
                <input type="submit" class="submit" value="Send">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="rgba-black-strong rounded p-5">
      <div class="container my-5 py-5" id="contacts-elem">
        <h2 class="text-warning  text-center font-weight-bold mt-3 mb-5">Contact Us</h2>

        <form class="mx-md-5" action="">

          <div class="row">
            <div class="col-md-6 mb-4">

              <div class="card">
                <div class="card-body px-4">

                  <div class="md-form md-outline mt-0">
                    <input type="text" id="name" class="form-control">
                    <label for="name">Your Name</label>
                  </div>
                  <div class="md-form md-outline">
                    <input type="text" id="email" class="form-control">
                    <label for="email">Your Email Address</label>
                  </div>
                  <div class="md-form md-outline">
                    <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                    <label for="message">Your Message</label>
                  </div>

                  <button mdbBtn type="button" color="warning" outline="true" block="true" mdbWavesEffect>Send
                    Message</button>

                </div>
              </div>

            </div>
            <div class="adress text-warning col-md-5 offset-md-1 mt-md-4 mb-4">

              <h3 class="font-weight-bold">Address</h3>
              <p class="mb-0">Sevchenka str., 111</p>
              <p class="mb-0">Lviv, 79000</p>
              <p class="mb-2 pb-2">Ukraine</p>

              <h3 class="font-weight-bold">Phone</h3>
              <p class="mb-2 pb-2">+ 38 (032) 22 00 000</p>

              <h3 class="font-weight-bold">Email</h3>
              <p>info@gmail.com</p>

            </div>
          </div>

        </form>
      </div>

    </div> -->
