@import './../../../sass/variables';

h2 {
  display: block;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #000
}

h4 {
  font-size: 22px;
  color: #000
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 15px;
  position: relative;
  text-transform: capitalize;
}

.site-heading h4::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading h2 span {
  color: #ff5a6e;
}

// ---------
.col-lg-6 {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.col-xs-12 {
  display: flex;
  justify-content: center;
}

.row-main {}


// -------------

.bgimage {
  background-image: url('src/assets/img/home_page_img/bg-x3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80%;
}

.black-opacity {
  background-color: rgba(0, 0, 0, 0.363);
  // padding: 70px 0;
  height: 100%;
  // margin-bottom: 100px;
}

// ------- 


// .body {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   min-height: 30vh;
//   background-color: #fff;
// }

.container-1 {
  color: #ff5a6e;
  width: 75%;
  background-color: #fff;
  padding: 20px;
  padding-top: 5vh;
  margin-top: 10vh;
}

.container-1 .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container-1 .row100 .col1 {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container-1 .row100 .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ff5a6e;
}

.container-1 .row100 .input-box input,
.container-1 .row100 .input-box.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
  display: block;
}

.container-1 .row100 .input-box .email,
.container-1 .row100 .input-box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}


.container-1 .row100 .input-box input:focus+.email,
.container-1 .row100 .input-box input:valid+.email,
.container-1 .row100 .input-box input:focus+.text,
.container-1 .row100 .input-box input:valid+.text {
  top: -35px;
  left: -10px;
}


.container-1 .row100 .input-box .line1,
.container-1 .row100 .input-box .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #ff5a6e;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container-1 .row100 .input-box input:focus~.line1,
.container-1 .row100 .input-box input:valid~.line1,
.container-1 .row100 .input-box input:focus~.line,
.container-1 .row100 .input-box input:valid~.line {
  height: 100%;
}

.container-1 .row100 .input-box.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container-1 .row100 .input-box.textarea textarea {
  height: 100%;
  resize: none;
}

.container-1 .row100 .input-box textarea:focus+.email,
.container-1 .row100 .input-box textarea:valid+.email,
.container-1 .row100 .input-box textarea:focus+.text,
.container-1 .row100 .input-box textarea:valid+.text {
  top: -35px;
  left: -10px;
}

// ---- tut baga
.container-1 .row100 .input-box textarea:focus~.line1,
.container-1 .row100 .input-box textarea:valid~.line1,
.container-1 .row100 .input-box textarea:focus~.line,
.container-1 .row100 .input-box textarea:valid~.line {
  height: 100%;
}



.submit {
  border: none;
  padding: 10px 45px;
  cursor: pointer;
  outline: none;
  background-color: #ff5a6e;
  color: #fff;
  font-size: 20px;
  border-radius: 2px;
}

.submit:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: .5;
}


@media screen and (max-width:415px) {


  .container-1 {
    margin-top: 15px;
  }

  .container-1 .row100 .col1 {
    position: relative;
    width: 95%;
  }


  h2 {
    display: block;
    font-weight: 700;
    font-size: 9vw;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .site-heading h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -25px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: absolute;
    width: 50px;
  }

  .hide {
    display: none;
  }

  .site-heading {
    margin: 0;
  }
}
