<div class="container heading">
  <h1>Finde your favorite game</h1>
</div>
<div class="main-content ">
  <div class="portfolio ">
    <div class="portfolio-item medium one z-depth-1">one</div>
    <div class="portfolio-item large two z-depth-1">two</div>
    <div class="portfolio-item medium three z-depth-1">three</div>
    <div class="portfolio-item small four z-depth-1"></div>
    <div class="portfolio-item tall five z-depth-1">five</div>
    <div class="portfolio-item wide six z-depth-1">six</div>
  </div>
</div>
