<!-- <div class="container heading">
  <h1>Finde your favorite game</h1>
</div>
<div class="main-content ">
  <div class="portfolio ">
    <div class="portfolio-item medium one z-depth-1">Economic</div>
    <div class="portfolio-item large two z-depth-1">Adventure</div>
    <div class="portfolio-item medium three z-depth-1">Fantasy</div>
    <div class="portfolio-item small four z-depth-1"></div>
    <div class="portfolio-item tall five z-depth-1">For Kids</div>
    <div class="portfolio-item wide six z-depth-1">Family</div>
  </div>
</div> -->


<div class="container">
  <div class="box">
    <div class="imgBox">
      <img src="/assets/img/home_page_img/game1.jpg" alt="">
    </div>
  </div>
  <div class="content">
    <h2>Titile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/assets/img/home_page_img/game2.jpg" alt="">
    </div>
  </div>
  <div class="content">
    <h2>Titile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/assets/img/home_page_img/game3.jpg" alt="">
    </div>
  </div>
  <div class="content">
    <h2>Titile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/assets/img/home_page_img/game4.jpg" alt="">
    </div>
  </div>
  <div class="content">
    <h2>Titile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/assets/img/home_page_img/game5.jpg" alt="">
    </div>
  </div>
  <div class="content">
    <h2>Titile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
  </div>
  <div class="box">
    <div class="imgBox">
      <img src="/assets/img/home_page_img/game7.jpg" alt="">
    </div>
  </div>
  <div class="content">
    <h2>Titile</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
  </div>
</div>
