@import "../../../sass/variables";

* {
  //   margin: 0;
  //   padding: 0;
  background: $color-orange;
}

.conainer {

  padding: 0 20%;

  flex: 1 1 80%;
  min-height: 100vh;

}

.main {
  position: relative;
  height: auto;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: repeat(6, 180px);
  // grid-template-columns: repeat(5, 1fr);

  grid-gap: 2vmin;
  grid-auto-flow: dense;
}

.box {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

// .box:first-child {
//   grid-column-start: span
// }



.small {
  grid-row: span 1;
  grid-column: span 1;
}

.medium {
  grid-row: span 2;
  grid-column: span 2;


}

.large {
  grid-row: span 3;
  grid-column: span 3;
}

.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.wide {
  grid-row: span 2;
  grid-column: span 3;
}
