<div class="container heading">
  <h1>Finde your favorite game</h1>
</div>
<div class="contain container">
  <div class="main">
    <div class="box medium1">
      <div class="imgBox">
        <img src="/assets/img/home_page_img/game1.jpg" alt="">
        <h1>otitlre</h1>
      </div>
      <div class="content">
        <h2>Titile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
      </div>
    </div>
    <div class="box large1">
      <div class="imgBox">
        <img src="/assets/img/home_page_img/game2.jpg" alt="">
        <h1>otitlre</h1>
      </div>
      <div class="content">
        <h2>Titile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
      </div>
    </div>
    <div class="box meduim1">
      <div class="imgBox">
        <img src="/assets/img/home_page_img/game3.jpg" alt="">
        <h1>otitlre</h1>
      </div>
      <div class="content">
        <h2>Titile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
      </div>
    </div>
    <div class="box small1">
      <div class="imgBox">
        <img src="/assets/img/home_page_img/game4.jpg" alt="">
        <h1>otitlre</h1>
      </div>
      <div class="content">
        <h2>Titile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
      </div>
    </div>
    <div class="box tall1">
      <div class="imgBox">
        <img src="/assets/img/home_page_img/game5.jpg" alt="">
        <h1>otitlre</h1>
      </div>
      <div class="content">
        <h2>Titile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
      </div>
    </div>
    <div class="box wide1">
      <div class="imgBox">
        <img src="/assets/img/home_page_img/game7.jpg" alt="">
        <h1>otitlre</h1>
      </div>
      <div class="content">
        <h2>Titile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, nesciunt!</p>
      </div>
    </div>
  </div>
</div>
