.content {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  height: 600px;
  margin: 0 auto;

  position: relative;
  background: rgb(0, 0, 0, 0);

}

.box {
  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #262626;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 10 px rga(0, 0, 0, .8);
}

.containe .box:befor {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}












.backg {
  position: relative;
  background-image: url('src/assets/img/home_page_img/bg-x3.png');
  background-position: center center;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // z-index: 1;
  // height: 730px;
}

h4 {
  padding-top: 50px;
  display: block;
  font-weight: 700;
  font-size: 3vw;
  line-height: normal;
  text-transform: uppercase;
  // padding-bottom: 20px;
}

.site-heading h4 span {
  color: #ff5a6e;
}

.site-heading h4::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
