<!--  -->
<!-- <app-layout-header-main></app-layout-header-main> -->

<!-- <app-layout-header></app-layout-header> -->

<app-layout-hero></app-layout-hero>
<!-- <app-how-it-works></app-how-it-works> -->
<!-- <app-layout-games></app-layout-games> -->
<!-- <app-layout-time-line></app-layout-time-line> -->

<app-carousel></app-carousel>
<app-layout-team></app-layout-team>
<app-layout-features></app-layout-features>
<app-layout-partners></app-layout-partners>

<app-layout-contacts></app-layout-contacts>
