.carousel-wrap {
  margin: 0 -15px;
}

.carousel-header {
  background-color: rgb(197, 84, 31);
  background-image: linear-gradient(to bottom right, rgb(197, 84, 31), red);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
