@import "./../../../sass/variables";

.container {
    margin: 100px auto;
}

.main-heading {
    font-size: 36px;
}

label {
    font-size: 20px;
}

.num-input {
    width: 80px;
    display: inline;
}

.create-btn {
    background-color: $color-main;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
  }

  .create-btn:active {
    position: relative;
    top: 1px;
  }

  .create-btn:disabled {
    background-color: $color-main;
    opacity: 1;
  }