<div class="container z-depth-1" >
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        
        <h1>Create your event</h1>

<hr>
Value: {{ myForm.value | json }}
<hr>

        <div class="form-group">
            <label>Event name</label>
            <input type="text" formControlName="eventName" class="form-control">
        </div>

        <div class="form-group">
            <label>Event description</label>
            <textarea formControlName="description" rows="3" class="form-control"></textarea>
       </div>

        <div class="form-group">
            <label>Choose the game</label>
           <select formControlName="game" class="custom-select">
               <option *ngFor="let game of games">{{ game }}</option>
           </select>
        </div>

        <div formGroupName="players">
            <div class="form-group">

                <label>Players age</label>
                <div formGroupName="age">
                    <label>Min</label>
                    <input type="number" formControlName="min">
                    <label>Max</label>
                    <input type="number" formControlName="max">
                </div>

                <label>Players amount</label>
                <div formGroupName="amount">
                    <label>Min</label>
                    <input type="number" formControlName="min">
                    <label>Max</label>
                    <input type="number" formControlName="max">
                </div>
            </div>
    
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="experianceNeed" formControlName="experiance">
                <label class="custom-control-label" for="experianceNeed">Do players need experiance?</label>
            </div>
        </div>
        
        <div class="form-group" formGroupName="location">
            <label>Location</label>
            <input type="text" formControlName="address" #search [formControl]="searchControl" autocomplete="off" autocapitalize="off" spellcheck="false" class="form-control" placeholder="{{ myForm.value.location.address }}">
        </div>

        <div class="form-group">
            <label>Date and time</label>
            <input type="datetime-local" formControlName="dateTime" class="form-control">
        </div>
        
        <button type="submit" [disabled]="!myForm.valid">Create</button>
    </form>
</div>