<div class="container z-depth-1">
  <i class="fas fa1 fa-dice-two"></i>

  <section class="px-5 mx-md-5 text-lg-left dark-grey-text">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

      <h1 class="text-center main-heading mb-5">Create your event</h1>

      <div class="form-group">
        <label>Event name</label>

        <input type="text" formControlName="eventName">
      </div>

      <div class="form-group">
        <label>Event description</label>
        <p [class.d-none]="description.valid || description.untouched" class="text-danger error">Event description is
          required</p>
        <textarea formControlName="description" [class.is-invalid]="description.invalid && description.touched"
          rows="3"></textarea>
      </div>

      <div class="form-group" formGroupName="location">
        <label>Location</label>
        <p [class.d-none]="address.valid || address.untouched" class="text-danger error">Please specify the location
          of event</p>
        <input type="text" formControlName="address" #search [formControl]="searchControl" autocomplete="off"
          autocapitalize="off" spellcheck="false" placeholder="{{ myForm.value.location.address }}"
          [class.is-invalid]="address.invalid && address.touched">

      </div>

      <div class="form-group">
        <label>Date and time</label>
        <p [class.d-none]="dateTime.valid || dateTime.untouched" class="text-danger error">Please specify the date and
          time of event</p>
        <input type="datetime-local" formControlName="dateTime"
          [class.is-invalid]="dateTime.invalid && dateTime.touched">
      </div>

      <div class="form-group">
        <label>Duration of your event</label>
        <input type="text" formControlName="duration" matInput>
      </div>

      <div class="game">

        <h2 class="text-center">About game</h2>

        <div class="form-group">
          <label>Choose the game</label>
          <p [class.d-none]="game.valid || game.untouched" class="text-danger error">Please, choose the game</p>
          <select formControlName="game" class="custom-select" [class.is-invalid]="game.invalid && game.touched">
            <option value="" disabled>I want to play</option>
            <option class="my-5" *ngFor="let game of games">{{ game }}</option>
          </select>
        </div>

        <div formGroupName="players">
          <div class="form-group my-5">
            <div class="row">
              <div class="col-md-6  col-sm-12 text-center">
                <label>Players age</label>
                <div formGroupName="age">
                  <input type="number" class="num-input mr-3" formControlName="min" min="3" max="120" placeholder="min">
                  <i class="fas fa-minus"></i>
                  <input type="number" class="num-input ml-3 " formControlName="max" min="3" max="120"
                    placeholder="max">
                </div>
              </div>
              <div class="col-md-6 col-sm-12 text-center">
                <label>Players amount</label>
                <div formGroupName="count">
                  <input type="number" class="num-input  mr-3" formControlName="min" min="2" max="10" placeholder="min">
                  <i class="fas fa-minus"></i>
                  <input type="number" class="num-input ml-3" formControlName="max" min="2" max="10" placeholder="max">
                </div>
              </div>
            </div>
          </div>
          <!-- Default inline 1-->
          <label class="mr-5">Do players need experiance?</label>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline3" name="experiance"
              formControlName="experiance" value="novice">
            <label class="custom-control-label" for="defaultInline3">Novice</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="experiance"
              formControlName="experiance" value="intermediate" checked>
            <label class="custom-control-label" for="defaultInline1">Intermediate</label>
          </div>

          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="experiance"
              formControlName="experiance" value="advanced">
            <label class="custom-control-label" for="defaultInline2">Advanced</label>
          </div>
        </div>

      </div>

      <div class="text-right">
        <button type="submit" class="create-btn my-4" [disabled]="!myForm.valid">Create</button>
        <p [class.d-none]="myForm.valid || myForm.untouched" class="text-danger">Please, fill in the form correctly</p>
      </div>

    </form>
  </section>
</div>