@import './../../../sass/variables';

.container {
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

.main-heading {
  font-size: 36px;
}

label {
  font-size: 20px;
}

input,
textarea {
  padding-left: 10px;
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input:active {
  background-color: white;
}

.form-check-input[type='radio']:checked + label:after,
.form-check-input[type='radio'].with-gap:checked + label:before,
.form-check-input[type='radio'].with-gap:checked + label:after,
label.btn input[type='radio']:checked + label:after,
label.btn input[type='radio'].with-gap:checked + label:before,
label.btn input[type='radio'].with-gap:checked + label:after {
  border: 2px solid #ff4b2b !important;
}

.form-check-input[type='radio']:checked + label:after,
.form-check-input[type='radio'].with-gap:checked + label:after,
label.btn input[type='radio']:checked + label:after,
label.btn input[type='radio'].with-gap:checked + label:after {
  background-color: #ff4b2b !important;
}

.error {
  display: inline;
  margin-left: 7px;
}

.num-input {
  width: 80px;
  display: inline;
}

.create-btn {
  border-radius: 4px;
  border: 2px solid #ff4b2b;
  background-color: transparent;
  color: #ff4b2b;
  font-size: 16px;
  padding: 6px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }
}

.notLoginMsg {
  height: 71.5vh;
  text-align: center;
  h1 {
    position: relative;
    top: 50%;
  }
}
