.page-heading-message {
  background-color: #3a3535;
  color: #f4f4f4;
  padding: 30px;
  text-align: center;
  margin: 5px 0 20px;
  h2 {
    margin: 0;
    font-weight: normal;
  }
}

.panel-heading {
  margin: 0 0 10px;
}

.games-list {
  padding: 0 0 20px;
}
