@import "../../../sass/variables";

.page-heading-message {
  color: $color-main-blue;
  -webkit-text-stroke: 2px white;
  padding: 30px;
  text-align: center;
  margin: 5px 0 20px;


  h2 {
    margin-top: 210px;
    font-weight: 500;
    font-size: 70px;
    line-height: normal;

  }
}


.panel-heading {
  margin: 0 0 10px;
}

.games-list {
  padding: 0 0 20px;
}

.bg-img {
  background-image: url('src/img/gabeg-bg.jpg');
  background-size: cover;
  background-position: center center;
  height: 400px;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


// =--------------

.create-event-btn {
  background-color: transparent;
  border-radius: 8px;
  border: 3px solid #f2efea;
  display: inline-block;
  cursor: pointer;
  color: #f2efea;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  padding: 12px 60px;
  text-decoration: none;
  margin: 25px auto;
}

.create-event-btn:active {
  position: relative;
  top: 1px;
}

.filters-wrapp {
  background-color: #f77f00;
  color: #f2efea;
  border-radius: 10px;
  position: relative;
  z-index: 5;
  margin-top: -45px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.example-form-field {
  width: 400px;
  color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
  font-size: 20px;

}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
  border-bottom: 3px solid;
  line-height: 20px;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $color-main !important;
  border-bottom: 3px solid;
}

.mat-input-element {
  line-height: 10px !important;
  font-size: 20px;
}

button.btn.btn-white.btn-primary.active {
  background-color: white transparent !important;
}

@media screen and(max-width: 1200px) {
  .page-heading-message {
    h2 {
      margin-top: 40px;
      animation: 3s slide-up;
    }

    @keyframes slide-up {
      from {
        margin-top: 210px;
        height: 300%;
      }

      to {
        margin-top: 40px;
        height: 100%;
      }
    }
  }
}


@media screen and (min-width:1201px) and (max-width:1680px) {
  .page-heading-message {
    h2 {
      margin-top: 210px;
      animation: 3s slide-down;
    }

    @keyframes slide-down {
      from {
        margin-top: 40px;
        height: 100%;
      }

      to {
        margin-top: 210px;
        height: 300%;
      }
    }
  }
}
