<div class="page-heading-message bg-img">
  <div class="container">
    <h2>Find the <b>game</b> you want <b>to play</b></h2>
  </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container" *ngIf="!loading">
  <div class="games-list">

    <div class="filters-wrapp">
      <div class="row align-items-center">

        <div class="col-7">
          <div class="md-form">
            <input type="search" [(ngModel)]="searchText" placeholder="Search by any text" />
          </div>
        </div>

        <div class="col-5 text-center">
          <button class="create-event-btn" routerLinkActive="active" routerLink="/pageaddevent">
            Create an event
          </button>
        </div>
      </div>
    </div>

    <div class="row py-5 my-5">
      <!-- <div class="col-lg-4 col-md-6"> -->
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let game of games | filter: searchText">
        <app-game [game]="game"></app-game>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
