<header>
    <div class="main-header"></div>
</header>

<div class="event-detail container animated bounceInDown">
    <div class="row event-detail-2">
        <i class="fas fa1 fa-dice-two"></i>
        <i class="fas fa4 fa-dice-two"></i>

        <div class="col-sm-8 pl-sm-5 py-5 text-center text-sm-left">
            <h1 class="title mb-4">{{ expectedEvent?.eventName }}</h1>
            <p><i class="fas fa-clock event-icon mr-2 fa-lg"></i>Date and time</p>
            <h4 class="mb-4">{{ expectedEvent?.dateTime | date: "dd.MM.yyyy" }}
                {{ expectedEvent?.dateTime | date: "HH:mm" }}</h4>
            <p><i class="fas fa-map-marker-alt event-icon mr-2 fa-lg"></i>Address</p>
            <h4>{{ expectedEvent?.location?.address }}</h4>

        </div>
        <div class="col-sm-4 pr-sm-5  position-relative subscribe my-auto">
            <h2 class="text-center title mb-4">Subscribe now</h2>
            <p class="text-center">Click to add to your calendar</p>
            <div class="text-center mt-4">
                <app-button-join [eventId]="expectedEvent?._id" [playersCount]="expectedEvent?.players?.count"
                    [canceled]="expectedEvent?.canceled" class="join-event-detail">
                </app-button-join>
            </div>
        </div>
    </div>
</div>
<div class="container event-description">
    <div class="row">
        <div class="col-sm-8 event-description-main px-3 py-5">
            <h3 class="title">Event details</h3>
            <p class="event-description-text">{{expectedEvent?.description}}</p>
            <ul class="mt-5">
                <li>Age of players: <span class="pl-4">{{ expectedEvent?.players?.age?.min }} -
                        {{ expectedEvent?.players?.age?.max }}</span></li>
                <li>Amount of players: <span class="pl-4">{{ expectedEvent?.players?.count?.min }} -
                        {{ expectedEvent?.players?.count?.max }}</span>
                </li>
                <li>Event duration: <span class="pl-4">{{ expectedEvent?.duration }}</span></li>
<!--                 <li>Experience<span class="pl-4">{{expectedEvent?.players?.experiance}}</span>
                </li> -->
            </ul>
<!--             <app-participants-count class="ml-1" [count]="expectedEvent?.players?.count"
                [joined]="expectedEvent?.players?.joined"> -->
<!--             </app-participants-count> -->
            <p class="mt-4">Share with friends</p>
            <p><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x mr-3"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x mr-3"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square fa-2x mr-3"></i></a>
                <a href="www.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            </p>
        </div>
        <div class="col-sm-4 py-5 px-5 organisor position-relative subscribe my-auto">
            <img class="mr-4" src="{{organizor?.personal?.photoUrl}}" align="left" alt="Photo of event author">
            <p class="pb-2">Event organiser</p>
            <a class="effect-1" (click)="redirectToUserPage(organizor)">{{organizor?.personal?.name}}</a>
            <p class="mt-5">Phone number</p>
            <p class="mb-3"><a>{{organizor?.personal?.phone ? organizor?.personal?.phone : 'Unknown'}}</a></p>
            <p>City</p>
            <p class="mb-3"><a>{{organisorCity ? organisorCity : 'Unknown'}}</a>
            </p>
            <p>Website</p>
            <p><a href="www.google.com">My site</a></p>
        </div>
    </div>

</div>
<div class="comments container">
    <h3 class="my-5 title">Comments</h3>

    <div class="my-5" *ngFor="let comment of comments">
        <app-comment-item [comment]="comment"></app-comment-item>
    </div>
    <div class="add-comment mb-5">
        <app-add-comment-box [eventId]="eventId"></app-add-comment-box>
    </div>

</div>

<div class="container map pb-5 px-0">
    <!-- <a class="my-5 back-btn" (click)="gotoEvents()">Back to all events</a> -->

    <app-map [geo]="geo"></app-map>
    <div class="text-center mt-5">
        <p><span>Address</span></p>
        <p class="mb-5 mt-3">{{expectedEvent?.location?.address}}</p>
        <p class="mt-5"><i class="fas fa-bus fa-lg mr-3"></i><i class="fas fa-car fa-lg mr-3"></i><i
                class="fas fa-bicycle fa-lg mr-3"></i><i class="fas fa-walking fa-lg"></i></p>
    </div>
</div>
