@import "../../../sass/variables";

// * {
//   box-sizing: border-box;

// }

h2 {
  display: block;
  font-weight: 700;
  font-size: 3vw;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #000
}

h4 {
  font-size: 1.5vw;
  color: #000
}

heading-text {
  background: grey;
}

.site-heading h2 span {

  color: #ff5a6e;
}


.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading {
  margin-top: 50px;
  padding-top: 30px;
  overflow: hidden;
}

@media screen and (max-width:415px) {
  h2 {
    display: block;
    font-weight: 700;
    font-size: 9vw;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  h4 {
    font-size: 5vw;
    padding: 0 30px;
    line-height: 32px;
  }
}

@media screen and (max-width:415px) {
  h2 {
    display: block;
    font-weight: 700;
    font-size: 9vw;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }

  .site-heading h2::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -25px;
    margin-bottom: 15px;
    position: absolute;
    width: 50px;
  }

  .hide {
    display: none;
  }

  .site-heading {
    margin: 0;
    padding-top: 10px;
  }
}
