<div class="container">

  <section class="text-center pb-5">

    <div class="row heading-text">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2>Our <span>Partners</span></h2>
          <h4>Here you can buy and rent board games </h4>
        </div>
      </div>
    </div>

    <!-- Logo carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1800">
      <div class="carousel-inner">
        <!-- First slide -->
        <div class="carousel-item active">
          <!--Grid row-->
          <div class="row">

            <!--First column-->
            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
              <a
                href="https://chicco.com.ua/igrushki/nastol-nye-igry.html?gclid=Cj0KCQjwhZr1BRCLARIsALjRVQPu2WYkwW39dlWVcCWan2D4V0Hd5IK5VcxV6p1tDCOxUZqOfxsj568aArJLEALw_wcB">
                <img src="/assets/img/prtners/new-logo.png" class="img-fluid px-4" alt="Logo"></a>
            </div>
            <!--/First column-->

            <!--Second column-->

            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
              <a href="https://lordofboards.com.ua/">
                <img src="/assets/img/prtners/part2.jpg" class="img-fluid px-4" alt="Logo"></a>
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
              <a href="https://desktopgames.com.ua/">
                <img src="/assets/img/prtners/part3.png" class="img-fluid px-4" alt="Logo"></a>
            </div>
            <!--/Third column-->

            <!--Fourth column-->
            <div class="col-lg-3 col-6 d-flex align-items-center justify-content-center">
              <a href="https://geekach.com.ua/">
              </a><img src="/assets/img/prtners/part5.jpg" class="img-fluid px-4" alt="Logo">
            </div>
            <!--/Fourth column-->

          </div>
          <!--/Grid row-->
        </div>
        <!-- First slide -->


      </div>

    </div>
    <!-- Logo carousel -->

  </section>

</div>
