<div class="login-page">
  <mat-card class="">
    <mat-card-title style="text-align: center;">SignIn / SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <mat-form-field>
              <input type="email" matInput placeholder="Email" required name="email" formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="password"
                formControlName="password" />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-checkbox>Remember Me!</mat-checkbox>
            <button mat-raised-button class="login-button sign-btn" type="submit">
              Sign In
            </button>
            <button mat-raised-button class="login-button social-btn">
              Login with Google
            </button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
            <mat-form-field>
              <input type="text" matInput placeholder="User Name" required name="name" formControlName="name" />
              <mat-icon matSuffix>perm_identity</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input type="email" matInput placeholder="Enter Email" required name="email" formControlName="email" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="password"
                formControlName="password" />
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="repassword"
                formControlName="repassword" />

              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button class="login-button sign-btn">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
    <button mat-button mat-dialog-close (click)="onNoClick()" class="login-button social-btn">
      No, Thanks!
    </button>
  </mat-card>
</div>
