<div class="container decktop" id="container">
  <div class="form-container sign-up-container">
    <form action="#" [formGroup]="signupForm" (ngSubmit)="registerUser()">
      <h1>Create Account</h1>
      <div class="social-container">
        <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
      </div>
      <span style="font-size: 15px;">Use your email for registration</span>
      <input type="text" matInput placeholder="User Name" required name="name" formControlName="name" />
      <p [class.d-none]="email.valid || email.untouched" class="text-danger"></p>
      <input type="email" matInput placeholder="Enter Email" required name="email" formControlName="email" />
      <input matInput placeholder="Password" type="password" required minlength="6" name="password"
        formControlName="password" />
      <!-- <input matInput placeholder="Password" type="password" required minlength="6" name="repassword"
        formControlName="repassword" /> -->
      <button id="submit-up" (click)="onClickCheck()" type="submit" mat-raised-button class="login-button sign-btn">
        Sign Up
      </button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#" [formGroup]="signinForm" (ngSubmit)="loginUser()">
      <h1>Sign in</h1>
      <div class="social-container">
        <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
      </div>
      <span style="font-size: 15px;">All fields required</span>

      <input type="email" matInput placeholder="Email" required name="email" formControlName="email" />
      <p [class.d-none]="emailIn.valid || emailIn.untouched" class="text-danger error"></p>


      <input matInput placeholder="Password" type="password" required minlength="6" name="password"
        formControlName="password" />
      <p [class.d-none]="passwordIn.valid || passwordIn.untouched" class="text-danger error"></p>

      <a href="#">Forgot your password?</a>
      <button mat-dialog-close mat-raised-button class="login-button sign-btn" type="submit">
        Sign In
      </button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
        <button mat-dialog-close class="no-thx">
          No, Thanks!
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp">Sign Up</button>
        <button mat-dialog-close class="no-thx">
          No, Thanks!
        </button>
      </div>
    </div>
  </div>
</div>

<!--  mobile -->
<div class="login-page mobile">
  <mat-card class="">
    <mat-card-title style="text-align: center;">SignIn / SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In" [selectedIndex]='1'>
        <mat-card-content>
          <form [formGroup]="signinForm" (ngSubmit)="loginUser()">
            <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email" matInput placeholder="Email" required name="email" formControlName="email" />
            <input matInput placeholder="Password" type="password" required minlength="6" name="password"
              formControlName="password" />
            <a href="#">Forgot your password?</a>

            <button mat-dialog-close mat-raised-button class="login-button sign-btn" type="submit">
              Sign In
            </button>

            <button mat-dialog-close (click)="onNoClick()" class="login-button btn btn-outline-danger waves-effect">
              No, Thanks!
            </button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
            <div class="social-container">
              <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
              <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" matInput placeholder="User Name" required name="name" formControlName="name" />
            <input type="email" matInput placeholder="Enter Email" required name="email" formControlName="email" />
            <input matInput placeholder="Password" type="password" required minlength="6" name="password"
              formControlName="password" />
            <!-- <mat-form-field>
              <input matInput placeholder="Password" type="password" required minlength="6" name="repassword"
                formControlName="repassword" />

              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field> -->
            <button (click)="onClickCheck()" type="submit" mat-raised-button class="login-button sign-btn">
              Sign Up
            </button>
            <button mat-dialog-close (click)="onNoClick()" class="login-button btn btn-outline-danger waves-effect">
              No, Thanks!
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>


  </mat-card>
</div>