<div class="game-item">
  <div class="favorite">
    <div class="icon-wrap">
      <app-add-to-favorites [gameId]="game?._id"></app-add-to-favorites>
    </div>
  </div>
  <a href="javascript:void(0)" (click)="onSelect(game)" class="game-item-link">
    <div class="category-icons icons-block">
      <app-game-category-icons
        [categories]="game?.categories"
      ></app-game-category-icons>

      <span class="arrow"></span>
    </div>

    <div class="img-wrap">
      <img [src]="(game?.photoUrl)[0]" alt="{{ game?.name }}" />
    </div>
    <section class="game-content">
      <h2 class="game-title">
        <span>{{ game?.name }}</span>
      </h2>

      <div class="game-meta text-left">
        <div class="duration" title="Тривалісь гри">
          <span class="label">
            <i class="far fa-clock"></i>
            <span class="label-text">Тривалісь гри</span>
          </span>
          <b>
            {{ game?.playTimeMinutes.min }} - {{ game?.playTimeMinutes.max }}
          </b>
        </div>
        <div class="age" title="Мінімальний вік гравців">
          <span class="label">
            <i class="fas fa-baby"></i>
            <i class="fas fa-child"></i>
            <span class="label-text">Мінімальний вік гравців</span>
          </span>
          <b>{{ game?.playersMinAge }}</b>
        </div>
        <div class="count" title="Кількість гравців">
          <span class="label">
            <i class="fas fa-users"></i>
            <span class="label-text">Кількість гравців</span>
          </span>
          <b>{{ game?.playersCount.min }} - {{ game?.playersCount.max }}</b>
        </div>
      </div>
    </section>
  </a>
</div>
