<div class="game-item container">
  <div class="category-icons">
    <!-- {{ game?.category }} -->
    <i class="fas fa-dice-five"></i>
    <!-- <i class="fas fa-dragon"></i> -->
    <i class="fas fa-dungeon"></i>
    <i class="fas fa-balance-scale"></i>
    <span class="arrow"></span>
  </div>
  <div class="favorite">
    <app-add-to-favorites></app-add-to-favorites>
  </div>
  <div class="img">
    <img [src]="game?.photoUrl" alt="{{ game?.name }}" />
  </div>
  <section class="game-content">
    <h2 class="game-title">
      <span>{{ game?.name }}</span>
    </h2>

    <div class="game-meta text-left">
      <div>
        <span class="label">
          <i class="far fa-clock" title="Тривалісь гри"></i>
          <span class="label-text">Тривалісь гри</span>
        </span>
        <b>
          {{ game?.playTimeMinutes.min }} - {{ game?.playTimeMinutes.max }}
        </b>
      </div>
      <div class="age">
        <span class="label">
          <i class="fas fa-baby"></i>
          <i class="fas fa-child" title="Мінімальний вік гравців"></i>
          <span class="label-text">Мінімальний вік гравців</span>
        </span>
        <b>{{ game?.playersMinAge }}</b>
      </div>
      <div class="count">
        <span class="label">
          <i class="fas fa-users" title="Кількість гравців"></i>
          <span class="label-text">Кількість гравців</span>
        </span>
        <b>{{ game?.playersCount.min }} - {{ game?.playersCount.max }}</b>
      </div>
    </div>

    <!-- <div class="description">{{ game?.description }}</div> -->
    <!-- <div class="button"> -->
    <button (click)="onSelect(game)" class="btn btn-primary">
      MORE INFO
    </button>
    <!-- </div> -->
  </section>
</div>

<!-- (click)="onSelect(event)" -->
