.game-item {
  border-radius: 3px;
  border: #ccc solid 1px;
  padding: 20px;
  margin: 20px;
  // width: 300px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .img {
    margin: -20px -20px 0;
    position: relative;
    height: 0;
    padding: 3/5 * 100% 0 0;
    overflow: hidden;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .game-content {
    position: relative;
    margin: 0 -20px;
    padding: 20px;
    border-top: solid 1px #3a3535;
    box-shadow: 0 -2px 0px -1px #f4f4f4;
  }

  .game-title {
    text-align: center;
    margin: -20px -20px 0;
    padding: 20px 20px 10px;
    font-size: 1.5rem;
    background: #f4f4f4;
  }
}

.category-icons {
  background-color: #3a3535;
  border: #fff 1px solid;
  box-shadow: 0 0 0 1px #3a3535;
  position: absolute;
  top: 1px;
  left: 20px;
  width: 50px;
  padding: 10px 5px;
  z-index: 2;

  .arrow {
    &,
    &:before,
    &:after {
      content: "";
      position: absolute;
      top: calc(100% + 1px);
      left: -2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 26px 26px 0 26px;
      border-color: #3a3535 transparent transparent transparent;
    }

    &:before {
      top: -27px;
      left: -25px;
      border-color: #fff transparent transparent transparent;
      border-width: 25px 25px 0 25px;
    }

    &:after {
      top: -28px;
      left: -24px;
      border-color: #3a3535 transparent transparent transparent;
      border-width: 24px 24px 0 24px;
    }
  }

  i {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #f4f4f4;
    & + i {
      margin-top: 20px;
    }
  }
}

.favorite {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background-color: #f4f4f4;
  border: solid 1px #3a3535;
  box-shadow: 0 0 0 1px #f4f4f4;
  border-radius: 100%;
  padding: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-meta {
  background: #f4f4f4;
  padding: 15px 20px;
  margin: 0 -20px 0;
  display: flex;
  flex-wrap: nowrap;

  & > div {
    padding-bottom: 30px;
    white-space: nowrap;

    & + div {
      margin-left: 40px;
    }
  }

  .label {
    position: relative;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;

    i {
      font-size: 1.5rem;
    }

    .label-text {
      position: absolute;
      top: 100%;
      margin-top: 5px;
      left: 5px;
      font-size: 10px;
      line-height: 1.2;
      opacity: 0.8;
      white-space: normal;
    }
  }
}

.description {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f4f4f4;
}
