@import "../../sass/_variables.scss"; // this is not cool!

.join {
  cursor: pointer;
  text-align: center;
  width: 100px;
  color: #444;
  background: $color-orange;
  color: #fff;
  padding: 10px 10px;
  border: $color-orange solid 2px;
  border-radius: 4px;
  outline: none;

  &:active {
    background: darken($color-orange, 5%);
  }

  &.isSubscribed {
    background: #fff;
    color: $color-orange;
    &:active {
      background: #999;
    }
  }

  &.isLoading,
  &.isCanceled,
  &.isFull:not(.isSubscribed) {
    opacity: 0.3;
    pointer-events: none;
  }
}

:host-context(.join-event-detail) {
  .join {
    width: 160px;
    margin-bottom: 45px;
    padding: 10px 30px;
  }
}
