<div class="loader">
    <app-spinner *ngIf="loading"></app-spinner>
</div>

<div class="container z-depth-1">
    <section class="px-5 mx-md-5 text-lg-left dark-grey-text">
        <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">

            <h1 class="text-center main-heading mb-5">Personal Information</h1>
            <div class="form-group">
                <div class="userPhoto mb-3">
                    <img [src]="userImage" alt="Your photo" width="150" height="150">
                </div>
                <input type="file" name="image" formControlName="photo" class="image-upload mb-3"
                    (change)="selectFile($event)">
            </div>
            <div formGroupName="personal">

                <div class="form-group">
                    <label for="name">Username*</label>
                    <input type="text" id="name" class="form-control" formControlName="name"
                        placeholder="{{expectedUser?.personal?.name}}">
                    <!-- <p [class.d-none]="username.valid || username.untouched" class="text-danger"> Username is required
                    </p> -->
                </div>
                <div class="form-group">
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" class="form-control" formControlName="firstName"
                        placeholder="{{expectedUser?.personal?.firstName}}">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" class="form-control" formControlName="lastName"
                        placeholder="{{expectedUser?.personal?.lastName}}">
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Your age</label>
                    <input type="number" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" min="3">
                </div>
                <div class="form-group">
                    <label>Few words about yourself</label>
                    <textarea formControlName="description" rows="3" class="form-control"
                        placeholder="{{expectedUser?.personal?.description}}"></textarea>
                </div>
                <p class="h4 mb-4 mt-5">Contact information</p>
                <div class="form-group">
                    <label for="phone">Phone number</label>
                    <input type="text" id="phone" class="form-control" formControlName="phone"
                        placeholder="{{expectedUser?.personal?.phone}}">
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="text" id="email" class="form-control" formControlName="email"
                        [class.is-invalid]="email.invalid && email.touched" placeholder="{{expectedUser?.email}}">
                    <p [class.d-none]="email.valid || email.untouched" class="text-danger">Email is
                        required</p>
                </div>
                <div class="form-group" formGroupName="location">
                    <label>Location:</label>
                    <input type="text" formControlName="address" #search [formControl]="searchControl"
                        autocomplete="off" autocapitalize="off" spellcheck="false" class="form-control"
                        placeholder="{{ personalInfoForm.value.personal.location.address }}"
                        placeholder="{{expectedUser?.personal?.location?.address}}">
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="save-btn px-5 my-4 mr-4" [disabled]="!personalInfoForm.valid">Save</button>
                <button type="button" (click)="cancel()" class="cancel-btn my-4">Cancel</button>
            </div>
        </form>
    </section>
</div>