.userPhoto {
  img {
    width: 150px;
    height: 170px;
  }
}

.user-data {
  width: 500px;
  margin: 50px auto;
  border-radius: 10px;
  position: relative;

  i {
    opacity: 0.5;
  }

  .edit-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;

  }

  .photo {
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .contacts {
    h4 {
      font-weight: 500;
      margin-bottom: 7px;
    }
  }

  .favourite-games {
    .game-item {
      background-color: lightgrey;
      margin: 5px 5px;
      padding: 7px 13px;
      border-radius: 5px;

      p {
        margin-bottom: 0;
      }
    }
  }
}



