.userPhoto {
  width: 150px;
  height: 200px;
  background: url("https://res.cloudinary.com/deji/image/upload/v1489787662/blank_photo_mqvivv.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
