<div class="filter-block">
  <button class="filter-button" type="button" (click)="filterList.toggle()">
    Game type
  </button>

  <div
    class="filter-body-wrapper"
    mdbCollapse
    [isCollapsed]="true"
    #filterList="bs-collapse"
  >
    <div class="filter-body">
      <div *ngFor="let item of checkboxes">
        <label class="checkbox-label"
          ><input
            type="checkbox"
            [(ngModel)]="item.checked"
            (change)="onToggle()"
          /><i></i> {{ item.label }}</label
        >
      </div>
    </div>
  </div>
</div>
