<div class="page-heading bg-img">
  <div class="container">
    <h2>A Few Words About Us</h2>
  </div>
</div>


<div class="container">
  <div class="filters-wrapp">
    <div class="row align-items-center">

      <div class="col-12">

        <h1 class="about-heading">commig son ..... About Us</h1>
        <!-- <p class="font-weight-bold">That's a very nice subheading</p> -->
      </div>


    </div>
  </div>
</div>
<div class="container pt-4 pb-2 black">



  <div class="container">
    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 grey-text text-center text-lg-left">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center img">

          <!-- <img src="/src/img/about-info-img.jpg" class="img-fluid" alt=""> -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 mb-4 mb-lg-0">





          <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
            molestiae
            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>
          <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
            molestiae
            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum.</p>

          <a class="text-warning font-weight-bold" href="#">Learn more<i class="fas fa-angle-right ml-2"></i></a>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
  <div class="container p-0">


    <!--Section: Content-->
    <section class="white-text stylish-color-dark pt-5 pb-3">

      <!-- <h3 class="text-center font-weight-bold mb-4 pb-2">Counter</h3> -->

      <div class="row">

        <div class="col-md-4 mb-4">
          <div class="row">
            <div class="col-6 pr-0">
              <h4 class="display-4 text-right mb-0 count-up" data-from="0" data-to="42" data-time="2000">420</h4>
            </div>

            <div class="col-6">
              <p class="text-uppercase font-weight-normal mb-1">Total played games</p>
              <p class="mb-0"><i class="fas fa-briefcase fa-2x mb-0"></i></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="row">
            <div class="col-6 pr-0">
              <h4 class="display-4 text-right mb-0 count1" data-from="0" data-to="3500" data-time="2000">1,500</h4>
            </div>

            <div class="col-6">
              <p class="text-uppercase font-weight-normal mb-1">Gamers</p>
              <p class="mb-0"><i class="fas fa-user fa-2x mb-0"></i></p>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="row">
            <div class="col-6 pr-0">
              <h4 class="display-4 text-right"><span class="d-flex justify-content-end"><span class="count2"
                    data-from="0" data-to="100" data-time="2000">0</span> %</span></h4>
            </div>

            <div class="col-6">
              <p class="text-uppercase font-weight-normal mb-1">Satisfaction</p>
              <p class="mb-0"><i class="fas fa-smile fa-2x mb-0"></i></p>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!--Section: Content-->


  </div>
</div>
<div class="container my-5">


  <!--Section: Content-->
  <section class="team-section text-center dark-grey-text">

    <!-- Section heading -->
    <h1 class="font-weight-bold pb-2 mb-4">Our amazing team</h1>
    <!-- Section description -->
    <p class="text-muted w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>

    <!-- Grid row -->
    <div class="row px-5">

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(2).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h2 class="font-weight-bold mt-4 mb-3">Diana</h2>
        <p class="text-uppercase text-warning"><strong>Frontend developer</strong></p>
        <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
          adipisci sed quia non numquam modi tempora eius.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f text-warning"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter text-warning"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram text-warning"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h2 class="font-weight-bold mt-4 mb-3">Lyubomyra</h2>
        <p class="text-uppercase text-warning"><strong>Frontend developer</strong></p>
        <p class="grey-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim est fugiat nulla id eu laborum.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f text-warning"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram text-warning"> </i>
          </a>
          <!-- Dribbble -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-dribbble text-warning"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle z-depth-1"
            alt="Sample avatar">
        </div>
        <h2 class="font-weight-bold mt-4 mb-3">Viktor</h2>
        <p class="text-uppercase text-warning"><strong>Frontend developer</strong></p>
        <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
          totam officia voluptates perferendis voluptatibus aut.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f text-warning"> </i>
          </a>
          <!-- Github -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-github text-warning"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
