.heart {
  cursor: pointer;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  color: #666;
  border: none;
  background: none;

  &:active {
    color: #444;
  }

  &.isFavorited {
    color: red;
    &:active {
      color: darken(red, 5%);
    }
  }

  &.isLoading {
    opacity: 0.3;
    pointer-events: none;
  }
}
