@import "../../sass/variables";

.icon-wrap {
  i {
    & + b {
      margin-left: 5px;
    }
  }
  & + .icon-wrap {
    margin-left: 20px;
  }
}

:host-context(.icons-block) {
  .icon-wrap {
    i {
      display: block;
      margin-bottom: 10px;
    }
    b {
      display: none;
    }

    & + .icon-wrap {
      margin: 0px;
    }
  }
}

:host-context(.game-detail) {
  .icon-wrap {
    i {
      color: $color-orange;
      vertical-align: middle;
    }
    b {
      font-size: 14px;
    }
  }
}
