<div class="py-2"></div>
<div class="wrapper">
  <div class="news-item hero-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg" alt="Divinity"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Review</span>
        <h1 class="title">Divinity: Original Sin 2 is awesome</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg" alt="Resident Evil 7"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Featured</span>
        <h1 class="title">Resident Evil 7: Scarier than ever</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg" alt="Bioshock 2"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Guide</span>
        <h1 class="title">Bioshock 2: Tactics on killing Big Sisters</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/lara-large.jpg" alt="Tomb Raider"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Adventure</span>
        <h1 class="title">Tomb Raider: The reincarnation of Lara Croft</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-small.jpg" alt="Dishonored 2"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Stealth</span>
        <h1 class="title">Dishonored 2: Creative Kills have never look so good</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/infinite-large.jpg" alt="Bioshock Infinite"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">First person shooter</span>
        <h1 class="title">Bioshock Infinite: Colorful instead of morbid</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/trine-2-large.png" alt="Trine 2"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Review</span>
        <h1 class="title">Trine 2: Entertaining & Funny</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>

  <div class="news-item standard-item">
    <div class="thumbnail">
      <div class="image-wrapper">
        <picture>

          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/wild-hunt-large.jpg" alt="Witcher 3: Wild Hunt"
            class="responsive-img">
        </picture>
      </div>
      <div class="caption">
        <span class="tag">Adventure</span>
        <h1 class="title">Witcher 3: Blood and Wine</h1>
        <span class="author">by Ren Aysha</span>
      </div>
    </div>
  </div>
</div>
<div class="py-5"></div>
