<div id="how-it-works" class="container">
  <div class="row heading-text">
    <div class="col-md-12">
      <div class="site-heading text-center">

        <h4><span>FIRST TIME</span> HERE?</h4>
      </div>
    </div>
  </div>
  <div class="row text-muted">
    <div class="col-md-12 col-xl-6 animated fadeInLeft delay-2s">
      <div class="content">
        <div class="box">
          <i class="fas fa2 fa-dice-one"></i>
          <div class="text">
            <i class="fas fa1 fa-dice-one"></i>
            <div>
              <h1 class="">Step <span>One</span></h1>
              <span class="">
                <i class="step fab fa-d-and-d fa-5x"></i>
              </span>
              <h2 class=""><span>Create </span>Account</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xl-6 animated fadeInRight delay-2s">
      <div class="content">
        <div class="box">
          <i class="fas fa2 fa-dice-two"></i>
          <div class="text">
            <i class="fas fa1 fa-dice-two"></i>
            <div>
              <h1 class="">Step <span>two</span></h1>
              <span class="">
                <i class="step fab fa-fantasy-flight-games"></i>
              </span>
              <h2 class=""><span>Finde </span>Game</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6 animated fadeInLeft delay-3s">
      <div class="content">
        <div class="box">
          <i class="fas fa2 fa-dice-three"></i>
          <div class="text">
            <i class="fas fa1 fa-dice-three"></i>
            <div>
              <h1 class="">Step <span>three</span></h1>
              <span class="">
                <i class=" step fab fa-phoenix-framework"></i>
              </span>
              <h2 class=""><span>Create Your's </span>Event</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6 animated fadeInRight delay-3s">
      <div class="content">
        <div class="box">
          <i class="fas fa2 fa-dice-four"></i>
          <div class="text">
            <i class="fas fa1 fa-dice-four"></i>
            <div>
              <h1 class="">Step <span>four</span></h1>
              <span class="">
                <i class="step fab fa-jedi-order"></i>

              </span>
              <h2 class=""><span>Invite </span>Friends</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6 animated fadeInLeft delay-4s">
      <div class="content">
        <div class="box">
          <i class="fas fa2 fa-dice-five"></i>
          <div class="text">
            <i class="fas fa1 fa-dice-five"></i>
            <div>
              <h1 class="">Step <span>five</span></h1>
              <span class="">
                <i class="step fab fa-optin-monster"></i>
              </span>
              <h2 class=""><span>Meet new </span>Friends</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xl-6 animated fadeInRight delay-4s">
      <div class="content">
        <div class="box">
          <i class="fas fa2 fa-dice-six"></i>
          <div class="text">
            <i class="fas fa1 fa-dice-six"></i>
            <div>
              <h1 class="">Step <span>six</span></h1>
              <span class="">
                <i class="step fab fa-studiovinari"></i>
              </span>
              <h2 class=""><span>Share </span>Experiene</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="content">
  <div class="box">
    <i class="fas fa2 fa-dice-one"></i>
    <div class="text">
      <i class="fas fa1 fa-dice-one"></i>
      <div>
        <h1 class="">Step <span>One</span></h1>
        <span class="">
          <i class="step fab fa-d-and-d fa-5x"></i>
        </span>
        <h2 class=""><span>Create </span>Account</h2>
      </div>
    </div>
  </div>
</div> -->
