<div class="container my-5">

  <!-- Section -->
  <section>

    <h1 class="font-weight-normal text-center dark-grey-text pb-2">How it's Work. A Few Easy Steps</h1>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 pb-3 mb-5">It's really easy to HAVE FUN and MEET NEW FRIENDS.</p>

    <div class="row text-muted">
      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-primary"><i class="icon-fa far fa-user-circle fa-5x"></i></span>
          </div>
          <div class="media-body">
            <h3 class="font-weight-bold">Step One</h3>
            <h2 class="font-weight-normal">Create Account</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa
              doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-danger"><i class="icon-fa fas fa-search-location fa-5x"></i></span>
          </div>
          <div class="media-body">
            <h3 class="font-weight-bold">Step Two</h3>
            <h2 class="font-weight-normal">Find Your Favorite Game</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa
              doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-info"><i class="icon-fa far fa-calendar-check fa-5x"></i></span>
          </div>
          <div class="media-body">
            <h3 class="font-weight-bold">Step Three</h3>
            <h2 class="font-weight-normal">Create Your Game Event</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa
              doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-warning"><i class="icon-fa fas fa-user-astronaut fa-5x"></i></span>
          </div>
          <div class="media-body">
            <h3 class="font-weight-bold">Step Four</h3>
            <h2 class="font-weight-normal">Invite Friends</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa
              doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-muted"><i class="icon-fa fas fa-users fa-5x"></i></span>
          </div>
          <div class="media-body">
            <h3 class="font-weight-bold">Step Five</h3>
            <h2 class="font-weight-normal">Meet New Friends</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa
              doloremque laudantium.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-4">
        <div class="media">
          <div class="mr-4">
            <span class="text-success"><i class="icon-fa far fa-share-square fa-5x"></i></span>
          </div>
          <div class="media-body">
            <h3 class="font-weight-bold">Step Six</h3>
            <h2 class="font-weight-normal">Share You Experiene</h2>
            <p class="text-muted">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium eaque ipsa
              doloremque laudantium.</p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <!-- Section -->

</div>
