@import './../../../sass/variables';

.container {
  min-height: 78.2vh;
}
.anchors {
  border-radius: 5px;
  display: flex;
  justify-content: space-around;

  p {
    margin-bottom: 0;
  }

  div {
    cursor: pointer;
  }
}

.chosen-a {
  border-bottom: 3px solid $color-orange;
}

@media (max-width: 768px) {
  .anchors {
    flex-direction: column;
    text-align: center;
  }
}
