<header>
  <div class="main-header"></div>
</header>

<div class="game-detail">
  <div class="row">
    <div class="col">
      <div class="game-item">
        <div class="favorites">
          <div>
            Вподобати гру
            <app-add-to-favorites [gameId]="game?._id"></app-add-to-favorites>
          </div>
          <div>
            Кількість подій з цією грою:
            <span class="icons"> 125 <i class="fas fa-award"></i></span>
          </div>
        </div>
        <div class="wrapp-carousel">
          <app-games-carousel
            [imgs]="game?.photoUrl"
            [title]="game?.name"
          ></app-games-carousel>
        </div>
        <section class="game-content">
          <div class="game-meta">
            <div>
              <span class="label">
                <i class="far fa-clock" title="Тривалісь гри"></i>
                <span class="label-text">Тривалісь гри</span>
              </span>
              <b>
                {{ game?.playTimeMinutes.min }} -
                {{ game?.playTimeMinutes.max }}
              </b>
            </div>
            <div class="age">
              <span class="label">
                <i class="fas fa-baby"></i>
                <i class="fas fa-child" title="Мінімальний вік гравців"></i>
                <span class="label-text">Мінімальний вік гравців</span>
              </span>
              <b>{{ game?.playersMinAge }}</b>
            </div>
            <div class="count">
              <span class="label">
                <i class="fas fa-users" title="Кількість гравців"></i>
                <span class="label-text">Кількість гравців</span>
              </span>
              <b>{{ game?.playersCount.min }} - {{ game?.playersCount.max }}</b>
            </div>
          </div>

          <div class="category">
            <app-game-category-icons
              [categories]="game?.categories"
            ></app-game-category-icons>
            <!-- {{ game?.category }} -->
          </div>
          <h2 class="game-title">
            <span>{{ game?.name }}</span>
          </h2>

          <div class="container">
            <div class="row">
              <div class="description">
                {{ game?.description }}
              </div>
              <!-- <div class="instructionUrl">
                <b>Детальніша інструкція: </b>{{ game?.instructionUrl }}
              </div> -->
              <button class="subm">
                Створити подію з цією грою
              </button>
              <button class="back" (click)="gotoGames()">
                Повернутися до списку ігор
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
