@import "../../sass/variables";

.game-item {
  padding: 0;
  margin: 0;
  background-color: #fff;
  position: relative;

  .favorite {
    position: absolute;
    z-index: 2;
    top: 40px;
    right: 30px;
    font-size: 2.5rem;
    background-color: #f4f4f4;
    border: solid 1px #3a3535;
    box-shadow: 0 0 0 1px #f4f4f4;
    border-radius: 100%;
    padding: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-wrap {
      transform: scale(0.7);
    }
  }
  .rating {
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 50px;
    font-size: 2.5rem;
    padding: 20px;
    width: 30px;
    height: 30px;
    color: $color-attention;
    i {
      transform: scale(0.7);
      top: 0;
      right: 0;
    }

    .label-rating {
      position: absolute;
      z-index: 2;
      width: 50px;
      font-size: 11px;
      text-align: center;
      line-height: 1.1;
      opacity: 0.7;
      white-space: normal;
      display: none;
    }
  }

  .rating:hover .label-rating {
    display: block;
  }

  .wrap-carousel {
    background-color: #f9f3ee;
  }
  .img {
    margin: 0;
    position: relative;
    height: 0;
    padding: 1/2 * 100% 0 0;
    overflow: hidden;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .game-content {
    position: relative;
    margin: 0 auto;
    padding: 0px;
    border-top: solid 1px $color-orange;
    box-shadow: 0 -2px 0px -1px #f9f3ee;
  }

  .game-title {
    text-align: center;
    font-family: "Kelly Slab", cursive;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 10px;
    font-size: 2.2rem;
    color: #003049;
    z-index: 10;
  }
}

.category {
  text-align: center;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 1.2rem;

  .icon-wrap {
    i {
      color: $color-orange;
    }
  }
}

.game-meta {
  background: #f4f4f4;
  padding: 15px;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  & > div {
    padding-bottom: 30px;
    white-space: nowrap;

    & + div {
      margin-left: 20px;
    }
  }

  .label {
    position: relative;
    width: 30px;
    margin-right: 10px;
    vertical-align: middle;

    i {
      font-size: 1.3rem;
      color: $color-orange;
    }

    + b {
      font-size: 1.1rem;
    }

    .label-text {
      position: absolute;
      top: 100%;
      margin-top: 5px;
      left: 5px;
      font-size: 12px;
      line-height: 1.2;
      opacity: 0.8;
      white-space: normal;
    }
  }
}

.create-event-btn {
  flex: 0 0 auto;
  background-color: $color-orange;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 40px;
  text-decoration: none;
  margin: 20px auto;
  display: block;

  &:active {
    position: relative;
    top: 1px;
  }
}

.description {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #f9f3ee;
  font-size: 18px;
  line-height: 1.5;
}
