<header>
  <div class="main-header"></div>
</header>

<div class="game-detail">
  <div class="row">
    <div class="col">
      <div class="game-item">
        <!-- <div class="favorite">
          <app-add-to-favorites></app-add-to-favorites>
        </div> -->
        <div class="wrapp-carousel">
          <app-games-carousel
            [imgs]="game?.photoUrl"
            [title]="game?.name"
          ></app-games-carousel>
        </div>
        <section class="game-content">
          <div class="game-meta text-left">
            <div>
              <span class="label">
                <i class="far fa-clock" title="Тривалісь гри"></i>
                <span class="label-text">Тривалісь гри</span>
              </span>
              <b>
                {{ game?.playTimeMinutes.min }} -
                {{ game?.playTimeMinutes.max }}
              </b>
            </div>
            <div class="age">
              <span class="label">
                <i class="fas fa-baby"></i>
                <i class="fas fa-child" title="Мінімальний вік гравців"></i>
                <span class="label-text">Мінімальний вік гравців</span>
              </span>
              <b>{{ game?.playersMinAge }}</b>
            </div>
            <div class="count">
              <span class="label">
                <i class="fas fa-users" title="Кількість гравців"></i>
                <span class="label-text">Кількість гравців</span>
              </span>
              <b>{{ game?.playersCount.min }} - {{ game?.playersCount.max }}</b>
            </div>
          </div>
          <h2 class="game-title">
            <span>{{ game?.name }}</span>
          </h2>
          <div class="category">
            <app-game-category-icons
              [categories]="game?.category"
            ></app-game-category-icons>
            <!-- {{ game?.category }} -->
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-9 order-md-2">
                <div class="description">
                  {{ game?.description }}
                </div>
                <!-- <div class="instructionUrl">
                <b>Детальніша інструкція: </b>{{ game?.instructionUrl }}
              </div> -->
              </div>
              <div class="col-md-3 order-md-1">
                <ul class="list-group">
                  <li class="list-group-item">
                    Рейтинг гри на сайті
                    <span class="icons"><i class="fas fa-award"></i></span>
                  </li>
                  <li class="list-group-item">
                    Вподобати гру
                    <span class="icons"
                      ><app-add-to-favorites></app-add-to-favorites
                    ></span>
                  </li>
                  <li class="list-group-item">
                    Поділитися
                    <span class="icons"><i class="fab fa-facebook"></i></span>
                  </li>
                  <li class="list-group-item">
                    <span class="icons"
                      ><button class="subm">
                        Створити подію з цією грою
                      </button></span
                    >
                  </li>
                  <li class="list-group-item">
                    <span class="icons"
                      ><button class="back" (click)="gotoGames()">
                        Повернутися до списку ігор
                      </button></span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
