<!-- Main navigation -->
<header>
  <!-- Full Page Intro -->
  <!-- <div class="view deep-orange darken-3"></div> -->
  <!-- Mask & flexbox options-->
  <div class="mask bg">
    <div class="bg-x2 ">

      <!-- Content -->
      <div class="container h-100">
        <!--Grid row-->
        <!-- <div class="row align-items-center h-100"> -->
        <!--Grid column-->
        <!-- <div class="col-md-4">
            <h1 class="white-text mb-4">
              MeetUp
            </h1>
            <h1 class="white-text mb-4 text-center">
              <span class="text-warning and-add">&</span>
            </h1>
            <h1 class="white-text mb-4 text-right">
              Games
            </h1> -->
        <!-- <p class="mb-4 pb-2 white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vitae,
              culpa qui officia deserunt labor debitis.</!--> -->
        <!-- <button type="button" class="btn btn-outline-white btn-md ml-md-0">Get started</button> -->
        <!-- <button type="button" class="btn btn-white btn-md">Get started</button> -->
      </div>

      <section class="section-button text-center  px-md-5 mx-md-5">
        <!-- <p class="font-size font-weight-light white-text text-center mx-auto mb-4 pb-2">
          Start yours new unique adventure here. Meet new friends and share
          yours favorite game experience.
        </p> -->

        <button (click)="Scrolldown()" type="button" class="btn btn-lg btn-outline-white" pageScroll
          href="#how-it-works">
          Findout More
        </button>
      </section>
    </div>
  </div>
  <!-- </div>
  </div> -->
  <!-- </div> -->

</header>
<!-- mobile view-->
