<div class="row heading-text">
  <div class="col-md-12">
    <div class="site-heading text-center">
      <h2>Our <span>Team</span></h2>
      <h4>Meet our awesome "Carrot" team members</h4>
    </div>
  </div>
</div>
<div class="container">

  <div class="card">
    <div class="img-box">
      <img src="/assets/img/team/lyubomyra.jpg" alt="">
    </div>
    <div class="content">
      <h1>Lyubomyra<br> <span>Front-end trainee developer</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ratione perferendis doloremque facere, rerum
        voluptatum cumque quo illo</p>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g fa-2x"></i>

          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="card">
    <div class="img-box">
      <img src="/assets/img/team/vic.jpg" alt="">
    </div>
    <div class="content">
      <h1>Viktor<br> <span>Front-end trainee developer</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ratione perferendis doloremque facere, rerum
        voluptatum cumque quo illo</p>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g fa-2x"></i>

          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
  <div class="card">
    <div class="img-box">
      <img src="/assets/img/team/diana.jpg" alt="">
    </div>
    <div class="content">
      <h1>Diana<br> <span>Front-end trainee developer</span></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ratione perferendis doloremque facere, rerum
        voluptatum cumque quo illo</p>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin-in fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- --------------------- -->
