<div [ngClass]="{
    'map-wrapper': true,
    hiddenOnMobile: !showMap
  }">
  <agm-map [latitude]="geo.latitude" [longitude]="geo.longitude" [zoom]="geo.zoom" [fitBounds]="true">
    <agm-marker *ngFor="
        let event of events
          | eventsFilter
            : selectedCategories
            : selectedDateTimes
            : selectedGameNames
            : hideCanceled
            : hideFull
      " [latitude]="event.location.geo.latitude" [longitude]="event.location.geo.longitude"
      (markerClick)="highlightItem(event)" [iconUrl]="event === selectedEvent ? icons.active : icons.default"
      [agmFitBounds]="true">
      <div><i class="fa fa-truck" aria-hidden="true"></i></div>
      <agm-info-window>
        <app-small-event-item [event]="event"></app-small-event-item>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div class="container">
  <div class="controls">
    <div class="filter-search-wrap">
      <div class="filters-wrap">
        <h3>Filter by:</h3>
        <div class="filters-wrap-inner">
          <div class="filters-category">
            <app-filter-category [categories]="categoriesCurrent" (toggle)="onCategoriesChange($event)">
            </app-filter-category>
          </div>
          <div class="filters-date">
            <app-filter-date [datesFormatted]="eventDateTimes" (toggle)="onDateTimeChange($event)"></app-filter-date>
          </div>
          <div class="filters-game-name">
            <app-filter-game-name [games]="gameName" (toggle)="onGameNameChange($event)"></app-filter-game-name>
          </div>
        </div>

        <div class="checkboxes-wrap">
          <app-filter-checkbox [label]="'Hide full events'" (toggle)="onHideFullChange($event)"></app-filter-checkbox>
          <app-filter-checkbox [label]="'Hide canceled events'" (toggle)="onHideCanceledChange($event)">
          </app-filter-checkbox>
        </div>
      </div>

      <div class="search-wrap">
        <input type="search" [(ngModel)]="searchText" placeholder="Search by any text" />
      </div>
    </div>
    <button class="create-event-btn" (click)="goAddEvent()">
      Create event
    </button>
    <button class="open-map" (click)="toggleShowMap()">
      {{ showMap ? "Сlose events map" : "Open events map" }}
    </button>
  </div>

  <!--Navbar-->
  <!--/.Navbar-->

  <div class="event-list">
    <h2 class="panel-heading">
      Upcoming Events
      <!-- <span *ngIf="selectedCategories.length"
        >sorted by: {{ selectedCategories }}
      </span> -->
    </h2>
    <div *ngIf="loading" class="loader">
      <app-spinner></app-spinner>
    </div>
    <div class="eventsList row">
      <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="
          let event of events
            | eventsFilter
              : selectedCategories
              : selectedDateTimes
              : selectedGameNames
              : hideCanceled
              : hideFull
            | filter: searchText
        ">
        <app-event-item [event]="event" [ngClass]="{ selected: event === selectedEvent }"
          (click)="highlightItem(event)"></app-event-item>
      </div>
    </div>
  </div>
</div>

<div class="py-5"></div>