/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");
@import "./sass/variables"; // this is not cool!

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f8f8f8;
}

// Home page carousel with multi items
.carousel.carousel-multi-item {
  padding-bottom: 50px;

  .controls-top {
    .btn-floating {
      position: absolute;
      top: 50%;
      margin-top: -50px;
      font-size: 2rem;
      color: $color-orange;
      z-index: 2;

      &:first-child {
        left: -20px;
      }

      &:last-child {
        right: -20px;
      }
    }
  }
  .carousel-indicators {
    bottom: 20px;

    li {
      background: $color-grey;
      width: 10px;
      border-width: 5px;
      height: 0;
      box-shadow: 0 0 0 1px #666;

      &.active {
        background: #666;
      }
    }
  }

  // Event item styles overrides
  app-event-item .description {
    display: none !important;
  }
}

// Game page carousel with thumbnails
.carousel-thumbnails {
  padding-bottom: 50px;

  .carousel-item {
    height: 200px;

    @media (min-width: 576px) {
      height: 300px;
    }

    @media (min-width: 768px) {
      height: 350px;
    }

    @media (min-width: 992px) {
      height: 400px;
    }

    img {
      max-width: 100% !important;
      max-height: 100% !important;
      margin: 0 auto !important;
      width: auto !important;
      height: auto !important;
    }
  }

  .carousel-indicators {
    li {
      width: auto !important;
      height: 30px !important;
      border-radius: 0 !important;
      border: none !important;

      &.active {
        outline: #000 solid 1px;
      }

      img {
        width: auto !important;
        height: 100%;
      }
    }
  }
}
.gm-style-iw {
  max-height: 500px !important;
}