/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.carousel-multi-item {
  .controls-top {
    .btn-floating {
      position: absolute;
      top: 50%;
      font-size: 2rem;
      color: #ff6f59;
      z-index: 2;

      &:first-child {
        left: -10px;
      }

      &:last-child {
        right: -10px;
      }
    }
  }
}
