.event-item {
  position: relative;
  padding: 10px;

  &:after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  .event-header {
    padding: 5px 0 15px;
    position: relative;
    font-size: 13px;

    span {
      i {
        margin-right: 3px;
      }

      & + span {
        margin-left: 20px;
      }
    }

    .heart-wrapper {
      position: absolute;
      top: 5px;
      right: 2px;
    }
  }

  .image-wrap {
    margin: 0;
    position: relative;
    height: 0;
    padding: 3/5 * 100% 0 0;
    overflow: hidden;
    z-index: 1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
    }
  }

  section {
    margin: 0;
  }

  h2 {
    margin: 10px;
    font-size: 15px;
    line-height: 1.2;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :host-context(.selected) & {
    outline: #fa571a solid 3px;

    .description {
      outline: #fa571a solid 3px;
    }
  }
}

.attenders-icons {
  margin: 8px 0;
}

.footer {
  border-top: #e2e2e2 solid 1px;
  padding: 10px 15px 0;
  margin: 10px -10px 0;
  font-size: 12px;
  clear: both;

  .address {
    margin: -10px 0;
    line-height: 1.1;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 3px;
    }
  }
}

.button-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  button {
    display: inline-block;
    margin: 0px 10px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    font-size: 12px;
  }

  button:hover {
    background-color: #ff7315;
    color: #e7e7e7;
    border: 2px solid #e7e7e7;
    z-index: 2;
  }
}

.description {
  margin-top: 10px;
  padding: 10px 30px 30px;
  display: none;

  &:before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 100%;
    top: -10px;
    left: 0;
  }
}

.footer-meta {
  margin-top: 10px;
  margin: 10px -30px -30px;
  font-size: 12px;
  background: #f4f4f4;
  padding: 10px 20px;
  color: #444;

  div {
    display: flex;
    justify-content: left;
    // justify-content: space-between;
    border-bottom: 1px dotted #ddd;

    &:last-child {
      border-bottom: none;
    }
  }

  .label {
    margin-right: 10px;
  }

  i {
    width: 20px;
    margin-right: 2px;
    text-align: center;
  }

  .age {
    .fa-baby {
      width: 15px;
      font-size: 9px;
    }
    .fa-child {
      margin-left: -12px;
    }
  }
}

.event-item:hover .description {
  display: block;
  position: absolute;
  left: 0;
  z-index: 5;
  background: #fff;
  width: 100%;
}
