.event-item {
  border-radius: 3px;
  border: #ccc solid 1px;
  padding: 30px;
  margin: 0 0 20px;
  background-color: #fff;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .event-header {
    font-size: 12px;
    color: #666;
  }

  h2 {
    font-size: 60px;
    color: #ff6347;
    margin: 30px 0;
  }
  span + span {
    margin-left: 20px;
  }
  div.img {
    width: 200px;
    height: 200px;
    margin: 0 0 20px 20px;
    background-color: #ff6347;
    float: right;
  }
}

div.description {
  margin: 30px 0;
}

.players {
  border-top: #e2e2e2 solid 1px;
  padding-top: 10px;
  margin-top: 20px;
  clear: both;
}

button {
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}
