footer {
  background-color: #424242;
  color: #cccccc;

  a {
    color: transparentize($color: #cccccc, $amount: 0.6) !important;
  }
}

.links {
  border-style: none solid none solid !important;
  border-width: 1px;
  border-color: #cccccc;

  a {
    color: transparentize($color: #cccccc, $amount: 0.6) !important;
  }
}

.buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-btn {
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid #cccccc;
    display: inline-block;
    cursor: pointer;
    color: #cccccc;
    font-size: 14px;
    padding: 10px 47px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .links {
    border-style: none !important;
  }
}
