<footer id="bottom-footer">
  <div class="columns">
    <div class="logo-footer">
      <h1 id="logo">MUG</h1>
      <i class="fab fa-facebook-f fa-lg"></i>
      <i class="fab fa-twitter fa-lg"></i>
      <i class="fab fa-linkedin-in fa-lg"></i>
    </div>
    <div class="links">
      <div id="category">
        <h3>Category</h3>
        <a href="#">Product</a>
        <a href="#">Product</a>
        <a href="#">Product</a>
        <a href="#">Product</a>
      </div>
      <div id="management">
        <h3>Management</h3>
        <a href="#">Product</a>
        <a href="#">Product</a>
        <a href="#">Product</a>
        <a href="#">Product</a>
      </div>
    </div>
    <div class="buttons">
      <button class="footer-btn" onclick="window.location.href='#'">
        Back to top
      </button>
      <button
        class="footer-btn"
        id="sign-up-btn"
        onclick="window.location.href='#'"
      >
        Sign up
      </button>
      <p>@Carrot, 2020</p>
    </div>
  </div>
</footer>
