footer {
  color: #f2efea;
  background-color: #254441;

  a {
    color: transparentize($color: #f2efea, $amount: 0.6) !important;
  }
}

.links {
  border-style: none solid none solid !important;
  border-width: 1px;
  border-color: #f2efea;

  a {
    color: transparentize($color: #f2efea, $amount: 0.6) !important;
  }
}

.buttons {
  position: relative;

  .footer-btn {
    background-color: transparent;
    border-radius: 28px;
    border: 2px solid #f2efea;
    color: #f2efea;
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 47px;
    position: absolute;
    left: 85px;
  }

  #sign-up-btn {
    bottom: 30px;
  }
}

@media (max-width: 768px) {
  .links {
    border-style: none !important;
  }

  .buttons {
    .footer-btn {
      position: static;
      margin: 10px auto;
    }

    #sign-up-btn {
      bottom: 60px;
    }
  }
}
