.containe
<div class="container">
  <div class="row row--mg">
    <div class="col col--1-of-2">
      <div class="row row--no-gutter row--md">
        <div class="col col--full-width section-intro">
          <h2 class="section-intro__title">Where do you want to go</h2>

        </div>
        <div class="col col--5-of-11 col--to-left">

          <div class="card">
            <div class="card__side card__side--front card__side--beach">
              <div class="row row--no-gutter card__upper-row">
                <div class="col col--to-left card__details-label"><span class="fas fa-share"></span>See details</div>
                <div class="col col--to-leftght card__pricing">500 $<br /><small>one day tour</small></div>
              </div>
              <h3 class="card__title">Seaside</h3>
              <div class="card__info">
                <div class="person-info">
                  <div class="person-info__img">
                    <img src="https://www.dropbox.com/s/arv4zc2pnqj3ulk/guide.jpg?raw=1" alt="Guide John Doe" />
                  </div>
                  <div class="person-info__bio">
                    <div class="person-info__name">John Doe</div>
                    <div class="person-info__desc">tour guide</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card__side card__side--back">
              <div class="card__description">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, officia, deleniti quia voluptatibus
                  unde facilis modi, totam magnam quisquam ex sit consequuntur odit maxime beatae ipsam et dolores nulla
                  doloremque.</p>
                <a href="#" class="btn btn--reverse card__description-btn"><span>More</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col col--1-of-3">

      <div class="card">
        <div class="card__side card__side--front card__side--mountains">
          <div class="row row--no-gutter card__upper-row">
            <div class="col col--to-left card__details-label"><span class="fas fa-share"></span>See details</div>
            <div class="col col--to-right card__pricing">2300 $<br /><small>four days tour</small></div>
          </div>
          <h3 class="card__title">Mountains</h3>
          <div class="card__info">
            <div class="person-info">
              <div class="person-info__img">
                <img src="https://www.dropbox.com/s/arv4zc2pnqj3ulk/guide.jpg?raw=1" alt="Guide John Doe" />
              </div>
              <div class="person-info__bio">
                <div class="person-info__name">John Doe</div>
                <div class="person-info__desc">tour guide</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__side card__side--back">
          <div class="card__description">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, officia, deleniti quia voluptatibus unde
              facilis modi, totam magnam quisquam ex sit consequuntur odit maxime beatae ipsam et dolores nulla
              doloremque.</p><a href="#" class="btn btn--reverse card__description-btn"><span>More</span></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card__side card__side--front card__side--city">
          <div class="row row--no-gutter card__upper-row">
            <div class="col col--to-left card__details-label"><span class="fas fa-share"></span>See details</div>
            <div class="col col--to-right card__pricing">1300 $<br /><small>one day tour</small></div>
          </div>
          <h3 class="card__title">City</h3>
          <div class="card__info">
            <div class="person-info">
              <div class="person-info__img">
                <img src="https://www.dropbox.com/s/arv4zc2pnqj3ulk/guide.jpg?raw=1" alt="Guide John Doe" />
              </div>
              <div class="person-info__bio">
                <div class="person-info__name">John Doe</div>
                <div class="person-info__desc">tour guide</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card__side card__side--back">
          <div class="card__description">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, officia, deleniti quia voluptatibus unde
              facilis modi, totam magnam quisquam ex sit consequuntur odit maxime beatae ipsam et dolores nulla
              doloremque.</p><a href="#" class="btn btn--reverse card__description-btn"><span>More</span></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
